<footer>
    <div class="footer">
        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="c-wrapper row">
                    <div class="col-12 col-md-10 col-lg-8"><a href="https://business.gov.au/"><img src={{ "assets/footer-logo-white.svg" | relative_url }} alt="business.gov.au design system"></a>

                        <p>We acknowledge the traditional owners of the country throughout Australia and their continuing connection to land, sea and community. We pay our respect to them and their cultures and to the elders past and present.</p>
                        <p>© Commonwealth of Australia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
