 <div id="guide_navlink_wrapper_2">
        <div class="c-wrapper container-fluid">
            <div class="row">
                <div class="guide_navlink" id="guide_navlink">
                    <div class="dropdown-wrapper">
                       
                       
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle disabled" type="button" data-toggle="dropdown" data-hover="dropdown">Starting a Business Guide</button>
                            
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle disabled" tabindex="-1" href="sab-prepare-for-business.html">Prepare for business</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href="content-Preparing-yourself-for-business.html">1. Check if you're ready</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Employee-or-contractor.html">2. Employee or contractor</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Difference-between-a-business-and-a-hobby.html">3. Business or hobby</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Help-for-your-business.html">4. Seek advice &amp; support</a></li>
                            </ul>
                            </li>


                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle disabled" tabindex="-1" href="sab-make-key-decisions.html">Make key decisions</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href="content-Business-structures.html">5. Choose a business structure</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Choose-your-business-location.html">6. Decide on a location</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-How-to-choose-a-business-name.html">7. Choose a business name</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Intellectual-Property-explained.html">8. Consider a trademark</a></li>
                            </ul>
                            </li>


                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle disabled" tabindex="-1" href="sab-plan-for-success.html">Plan for success</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href="content-Employee-or-contractor.html">9. Employee or contractor</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Industry-information.html">10. Research your industry</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-How-to-write-your-marketing-plan.html">11. Develop a marketing plan</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-How-to-research-your-market.html">12. Research your market</a></li>
                            </ul>
                            </li>


                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle disabled" href="sab-register-your-business.html">Register your business</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="content-Register-for-an-Australian-business-number-ABN.html">13. Register an ABN</a></li>
                                <li><a class="dropdown-item" href="content-Register-your-business-name.html">14. Register a business name</a></li>
                                <li><a class="dropdown-item" href="content-Register-a-company.html">15. Register a company</a></li>
                                <li><a class="dropdown-item" href="content-Register-licences-and-permits.html">16. Register licences and permits</a></li>
                                <li><a class="dropdown-item" href="content-Register-a-business-website.html">17. Consider a website name</a></li>
                                <li><a class="dropdown-item" href="content-Register-for-taxes.html">18. Register for taxes</a></li>
                            </ul>
                            </li>


                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle disabled" tabindex="-1" href="sab-Prepare-for-tax.html">Prepare for tax</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href="content-Tax-registration-for-your-business.html">19. Which taxes to register</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Record-keeping.html">20. Keep the right records</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-How-to-lodge-and-pay-for-tax.html">21. Prepare to lodge tax</a></li>
                            </ul>
                            </li>


                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle disabled" tabindex="-1" href="sab-know-the-law.html">Know the law</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href="content-Legal-essentials-for-business.html">Which laws apply to you</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Fair-trading.html">Understand Fair trading</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-How-to-understand-contracts.html">Understand contracts</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Industry-information.html">Look up industry laws</a></li>
                            </ul>
                            </li>

                            
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle disabled" tabindex="-1" href="sab-prepare-your-finances.html">Prepare your finances</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href="content-How-to-organise-your-finances.html">Organise your finances</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Develop-a-pricing-strategy.html">Price goods or services</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Help-for-your-business.html">Find grants and assistance</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Apply-for-a-business-loan.html">Apply for finance</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Resources-to-help-finance-your-business.html">Find financial help</a></li>
                            </ul>
                            </li>


                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle disabled" tabindex="-1" href="sab-protect-your-business.html">Protect your business</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href="content-Business-insurance.html">Insure your business</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Intellectual-Property-explained.html">Protect your ideas</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-How-to-prepare-your-business-for-an-emergency.html">Prepare for an emergency</a></li>
                            </ul>
                            </li>
                            

                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle disabled" tabindex="-1" href="sab-set-up-operations.html">Set up operations</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href="content-Hiring.html">Employ people</a></li>
                                <li><a class="dropdown-item" tabindex="-1" tabindex="-1" href="content-How-to-market-your-business.html">Understand marketing</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Importing-and-exporting.html">Importing or exporting</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href="content-Customers.html">Establish customer service</a></li>
                            </ul>
                            </li>

                        </ul>
                            
                        </div>
                        
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--<p>Starting a business guide: page <span>2</span></p>-->


