<div id="guide_nav_wrapper" class="side_nav">
        <!--<div class="c-wrapper container-fluid">
            <div class="row">-->
                <div class="nav_close"><btn>Close</btn></div>
                <div class="guide_nav" id="guide_nav">
                    <!--<div class="col-12 ">-->
                        <h3>Starting a Business Guide</h3>
                        
                        <ul>
                            <li class="sub-menu-toggle">Prepare for business</li>   
                            <ul class="sub-menu">
                                <li><a href="content-Preparing-yourself-for-business.html">Check if you're ready</a></li>
                                <li><a href="content-Difference-between-a-business-and-a-hobby.html">Business or hobby</a></li>
                                <li><a href="content-Employee-or-contractor.html">Employee or contractor</a></li>
                                <li><a href="content-Help-for-your-business.html">Seek advice &amp; support</a></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Make key decisions</li>
                            <ul class="sub-menu">
                                <li><a href="content-Business-structures.html">Choose a business structure</a></li>
                                <li><a href="content-Choose-your-business-location.html">Decide on a location</a></li>
                                <li><a href="content-How-to-choose-a-business-name.html">Choose a business name</a></li>
                                <li><a href="content-Intellectual-Property-explained.html">Consider a trademark</a></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Plan for success</li>
                            <ul class="sub-menu">
                                <li><a href="content-How-to-research-your-market.html">Research your market</a></li>
                                <li><a href="content-Industry-information.html">Research your industry</a></li>
                                <li><a href="content-How-to-develop-your-business-plan.html">Develop a business plan</a></li>
                                <li><a href="content-How-to-write-your-marketing-plan.html">Develop a marketing plan</a></li>
                            </ul>
                            
        
                            <li class="sub-menu-toggle">Register your business</li>
                            <ul class="sub-menu">
                                <li><a href="content-Register-your-business-name.html">Register a business name</a></li>
                                <li><a href="content-Register-for-an-Australian-business-number-ABN.html">Register an ABN</a></li>
                                <li><a href="content-Register-a-company.html">Register a company</a></li>
                                <li><a href="content-Register-licences-and-permits.html">Register licences and permits</a></li>
                                <li><a href="content-Register-a-business-website.html">Consider a website name</a></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Prepare for tax</li>
                            <ul class="sub-menu">
                                <li><a href="content-Tax-registration-for-your-business.html">Which taxes to register</a></li>
                                <li><a href="content-Record-keeping.html">Keep the right records</a></li>
                                <li><a href="content-How-to-lodge-and-pay-for-tax.html">Prepare to lodge tax</a></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Know the law</li>
                            <ul class="sub-menu">
                                <li><a href="content-Legal-essentials-for-business.html">Which laws apply to you</a></li>
                                <li><a href="content-Fair-trading.html">Understand Fair trading</a></li>
                                <li><a href="content-How-to-understand-contracts.html">Understand contracts</a></li>
                                <li><a href="content-Industry-information.html">Look up industry laws</a></li>
                            </ul>
                            
                            
                            
                            <li class="sub-menu-toggle">Prepare your finances</li>
                            <ul class="sub-menu">
                                <li><a href="content-How-to-organise-your-finances.html">Organise your finances</a></li>
                                <li><a href="content-Develop-a-pricing-strategy.html">Price goods or services</a></li>
                                <li><a href="content-Help-for-your-business.html">Find grants and assistance</a></li>
                                <li><a href="content-Apply-for-a-business-loan.html">Apply for finance</a></li>
                                <li><a href="content-Resources-to-help-finance-your-business.html">Find financial help</a></li>
                            </ul>
                            
                            
                            <li class="sub-menu-toggle">Protect your business</li>
                            <ul class="sub-menu">
                                <li><a href="content-Business-insurance.html">Insure your business</a></li>
                                <li><a href="content-Intellectual-Property-explained.html">Protect your ideas</a></li>
                                <li><a href="content-How-to-prepare-your-business-for-an-emergency.html">Prepare for an emergency</a></li>
                            </ul>
                            
                            <li class="sub-menu-toggle">Set up operations</li>
                            <ul class="sub-menu">
                                <li><a href="content-Hiring.html">Employ people</a></li>
                                <li><a href="content-How-to-market-your-business.html">Understand marketing</a></li>
                                <li><a href="content-Importing-and-exporting.html">Importing or exporting</a></li>
                                <li><a href="content-Customers.html">Establish customer service</a></li>
                            </ul>
                            
                            
                        </ul>
                    </div>
                </div>
            <!--</div>-->
        <!--</div>
    </div>-->