<header>


        <div class="c-wrapper c-wrapper-bg-transparent search-bar-wrapper container-fluid d-sm-none d-md-block">
            <div class="row">
                <div class="search-bar-container">
                    <div class="search-bar-inner-wrapper"><a href={{ "index.html" | relative_url }} class="search-bar-desktop-logo">
                        
                         <img src={{ "assets/bga_design_system_crest.svg" | relative_url }} alt="business.gov.au design system"></a>   
                        
                        
                    </div>
                    <!-- <div class="search-bar-outer-wrapper-mobile">
                        <div>
                            <div>
                                <div class="input-group-container">
                                    <div class="input-group"></div>
                                </div>
                            </div>
                        </div>
                        
                    </div> -->
                </div>
                
            </div>
        </div>
        
        <div class="c-wrapper c-wrapper-bg-transparent search-bar-wrapper container-fluid">
            <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light row">
                            <a class="navbar-brand d-lg-none" href="#">business.gov.au design system</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div class="navbar-nav mr-auto">
                                    <div class="navbar-menu" id="foundations-link">
                                            <a href={{ "topic-foundations.html" | relative_url }} class="btn btn-default navigation-item-button" aria-label="Foundations">Foundations</a>
                                            
                                        </div>
                                        <div class="navbar-menu" id="components-link">
                                                <a href={{ "topic-components.html" | relative_url }} class="btn btn-default navigation-item-button" aria-label="Components">Components</a>
                                                
                                            </div>
                                            
                                            
                                            <div  class="navbar-menu"id="accessibility-link">
                                                <a href={{ "accessibility.html" | relative_url }} class="btn btn-default navigation-item-button" aria-label="Accessibility">Accessibility</a>
                                                
                                            </div>
                                        </div>
                            </div>
                            </nav>
                <!-- <div class="navigation-bar dropdown-wrapper" id="navigation-bar">
                    
                    <div style="display:inline-block" class="navigation-main-menu dropdown" id="foundations-link">
                        <a href={{ "topic-foundations.html" | relative_url }} class="btn btn-default navigation-item-button" aria-label="Foundations">Foundations</a>
                        
                    </div>
                    
                 
                    <div style="display:inline-block" class="navigation-main-menu dropdown" id="components-link">
                        <a href={{ "topic-components.html" | relative_url }} class="btn btn-default navigation-item-button" aria-label="Components">Components</a>
                        
                    </div>
                    
                    
                    <div style="display:inline-block" class="navigation-main-menu dropdown" id="accessibility-link">
                        <a href={{ "accessibility.html" | relative_url }} class="btn btn-default navigation-item-button" aria-label="Accessibility">Accessibility</a>
                        
                    </div>
                    
                    
               
                </div> -->
            </div>
        </div>
    
    
    </header>