<header>


    <div class="c-wrapper c-wrapper-bg-transparent search-bar-wrapper container-fluid">
        <div class="row">
            <div class="search-bar-container">
                <div class="search-bar-inner-wrapper"><a href={{ "index.html" | relative_url }} class="search-bar-desktop-logo">
                    
                     <img src={{ "assets/bga_design_system_crest.svg" | relative_url }} alt="business.gov.au design system"></a>   
                    
                    
                </div>
                <div class="search-bar-outer-wrapper-mobile">
                    <div>
                        <div>
                            <div class="input-group-container">
                                <div class="input-group"></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="c-wrapper c-wrapper-bg-transparent navigation-bar-wrapper container-fluid">
        <div class="row">
            <div class="navigation-bar dropdown-wrapper" id="navigation-bar">
                
                <div style="display:inline-block" class="navigation-main-menu dropdown" id="foundations-link">
                    <a href={{ "topic-foundations.html" | relative_url }} class="btn btn-default navigation-item-button" aria-label="Foundations">Foundations</a>
                    
                </div>
                
             
                <div style="display:inline-block" class="navigation-main-menu dropdown" id="components-link">
                    <a href={{ "topic-components.html" | relative_url }} class="btn btn-default navigation-item-button" aria-label="Components">Components</a>
                    
                </div>
                
                
                <div style="display:inline-block" class="navigation-main-menu dropdown" id="accessibility-link">
                    <a href={{ "accessibility.html" | relative_url }} class="btn btn-default navigation-item-button" aria-label="Accessibility">Accessibility</a>
                    
                </div>
                
                
           
            </div>
        </div>
    </div>


</header>