<header>


    <div style="background-color:" class="c-wrapper c-wrapper-bg-transparent search-bar-wrapper container-fluid">
        <div class="row">
            <div class="search-bar-container">
                <div class="search-bar-inner-wrapper"><a href="index.html" class="search-bar-desktop-logo">
                    <img src="assets/bga_design_system_crest.svg" /></a>
                    
                    
                    
                </div>
                <div class="search-bar-outer-wrapper-mobile">
                    <div>
                        <div>
                            <div class="input-group-container">
                                <div class="input-group"></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
    
    <div style="background-color:" class="c-wrapper c-wrapper-bg-transparent navigation-bar-wrapper container-fluid">
        <div class="row">
            <div class="navigation-bar dropdown-wrapper" id="navigation-bar">
                
                <div style="display:inline-block" tabindex="-1" class="navigation-main-menu dropdown" id="foundations-link">
                    <a href="topic-foundations.html" class="btn btn-default navigation-item-button">Foundations</a>
                    
                </div>
                
             
                <div style="display:inline-block" tabindex="-1" class="navigation-main-menu dropdown" id="components-link">
                    <a href="topic-components.html" class="btn btn-default navigation-item-button" >Components</a>
                    
                </div>
                
                
                <!--<div style="display:inline-block" tabindex="-1" class="navigation-main-menu dropdown" id="page-patterns-link">
                    <a href="topic-patterns.html" class="btn btn-default  navigation-item-button">Page patterns</a>
                    
                </div>-->
                
                <div style="display:inline-block" tabindex="-1" class="navigation-main-menu dropdown" id="components-link">
                    <a href="accessibility.html" class="btn btn-default navigation-item-button" >Accessibility</a>
                    
                </div>
                
                
           
            </div>
        </div>
    </div>


</header>