/* GLOBAL */

.page-header {
    padding: 48px 0;

}
.page-header-intro p {
    @include font-format($font-family, $font-regular, normal);
    font-size: 16px;
}
h1, h2, h3, h4, h5 {
    @include font-format($font-family, $font-semibold, normal); 
    }
.body-copy {
    
    h2 {
        padding: 24px 0 32px 0;
        margin: 0;
        @include font-format($font-family, $font-semibold, normal);
    }
    h3 {
        padding: 16px 0 32px 0;
        margin: 0;
    }
    h4 {
        padding: 16px 0;
        margin: 0;
    }
    h5 {
        padding: 0 0 16px 0;
        margin: 0;
    }

    hr {
        border: 0;
        border-top: .125rem solid $yellow-primary-mid;
        margin: 0;
        text-align: left;
        width: 3.25rem;
        padding: 0 0 32px 0;
    }
    p {
       font-size: 1rem;
        padding: 0 0 32px 0;
        margin: 0;
    }
}
.body-copy-headline h2 {
    padding-top: 0;
}

.body-copy .body-copy-content p.small {
    font-size: .8rem;
}

.c-wrapper .row {
    max-width: 1200px;

    @media (max-width: 1200px) {
        max-width: 1150px;
    }
}
.padding-none {
    @media (min-width: 900px) {
        padding: 0 16px;
    }
}
.margin-bottom {
    margin-bottom: 48px;
}
.vertical-list {
    margin-bottom: 32px;
}

.c-wrapper .body-copy ul {
    padding: 0 0 0 32px;
    margin: 0;
    
    li {
        padding: 0 0 16px 16px;
        margin: 0;
        
        &:last-of-type {
            padding: 0 0 32px 16px;
        }
        
        ul {
            margin-top: 16px;
            li {
                padding: 0 0 16px 16px;
                margin: 0;

                &:last-of-type {
                    padding: 0 0 0 16px;
                }
            }
        }
    }
}
.anchor-section:last-of-type {
    margin-bottom: 32px;
}

// Hero tiles
#foundations-illo {
    .cls-1 {
        fill: #ebf4ff;
    }
    .cls-2 {
        fill: #5ba6ff;
    }
    .cls-3 {
        fill: #bedcff;
    }
}
#components-illo {

    .cls-1,
    .cls-6,
    .cls-8 {
        fill: #dfb1cf;
    }
    .cls-1,
    .cls-2 {
        clip-rule: evenodd;
    }
    .cls-2,
    .cls-3,
    .cls-9 {
        fill: #b74d94;
    }
    .cls-4 {
        fill: #f4e4ee;
    }
    .cls-5 {
        fill: #fff;
    }
    .cls-6,
    .cls-9 {
        fill-rule: evenodd;
    }
    .cls-7 {
        clip-path: url(#clip-path);
    }
    .cls-10 {
        clip-path: url(#clip-path-2);
    }
    .cls-11 {
        clip-path: url(#clip-path-3);
    }
    .cls-12 {
        clip-path: url(#clip-path-4);
    }
    .cls-13 {
        clip-path: url(#clip-path-5);
    }
}

// Header nav
.navbar {
    .navigation-item-button {
        padding-bottom: 16px;
        padding-top: 16px;
    }
    a {
        color: white;
        font-weight: 600;
        text-decoration: none;
        &:hover, &:focus {
            text-decoration: underline;
            background: $blue-active;
            color: white;
            border-radius: 0;
        }
    }
}

.bg-light {
    background-color: $blue-primary !important;
}
.navbar-brand {
    font-size: 16px;
    color: white !important;
    &:hover, &:focus {
        text-decoration: underline;
        color: white;
        background: transparent;
    }
}
.navbar-light .navbar-toggler {
    color: white;
    border: none;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("../assets/Icon-menu.svg");
    height: 24px;
    width: 24px;
}
.navbar-expand-sm {
    padding-top: 0;
    padding-bottom: 0;
}

.footer {
    .footer-top-links-top {
        padding: 2rem 16px;

        p {
            margin-bottom: 0;
            color: $white;
            font-size: 1.3rem;
        }
    }
    .footer-top {
        padding: 0;

    }
    .c-wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
}


@media (min-width: 1200px) {
    .navbar-nav.mr-auto {
        margin-left: -16px;
    }   
}

@media (max-width: 1205px) {
    .navigation-bar .navigation-main-menu a {
        font-size: 18px;
    }
    .navbar-expand-sm {
        padding: 0;
    }
    .navbar-brand {
        padding-left: 16px;
    }
}

@media (max-width: 991px) {
    .navbar-brand {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    
    .hero-pathway-list .row .hero-pathway-list-card  .hero-pathway-list-content {
        display: block;
        
        .hero-pathway-list-content-right {
            display: none;
        }
    }
}

@media (max-width: 900px) {
   
    .navbar {
        padding: 0;
    }
    .search-bar-wrapper .search-bar-inner-wrapper .search-bar-desktop-logo {
        display: block;
    }
}
@media (min-width: 575px) {
   .navbar-expand-sm .navbar-toggler {
        display: none !important;
    }
    .navbar-expand-sm .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-collapse {
        display: flex!important;
    }
    .mobile-hide {
        display: flex !important;
    }
    .navbar-brand {
        display: none !important;
    }
    .search-bar-wrapper .search-bar-inner-wrapper {
        min-height: 6rem;
        padding: 1.5rem 0;
    }
}
@media (max-width: 574px) {
    .navbar-collapse {
        background-color: $blue-active;
        margin: 0px -16px;
        padding: 0px 16px;
        
        .navbar-menu {
            margin: 0px -16px;
            padding: 0px 16px;
            background-color: $blue-active;
        }
        .navigation-item-button {
            padding: 12px;
        }
    }
    .mobile-hide {
        display: none !important;
    }
    .navbar-brand {
        display: block !important;
    }
     .navbar-menu {
        border-bottom: 2px solid #1e4175!important;
    }
}
@media (max-width: 350px) {
    .navbar-brand {
        font-size: 13px;
    }
}

// Side navigation - Sticky menu
.anchor-menu {
    position: relative;
    .sticky-container {
        ul {
            padding:0;
        }
        a {
            text-decoration: none;

            &.active-sticky {
                @include font-format($font-family, $font-semibold, normal);
                border-left: 4px solid $blue-light;
                padding-left: 16px;
            }
        }
        .sticky-list-head {
            @include font-format($font-family, $font-semibold, normal);     
        }

    }
}

@media (max-width: 574px) {
    .anchor-menu {
        width: 100% !important;
    }
    .anchor-menu .sticky-container div {
        width: 100%;
        position: relative !important;
    }
    /*.twoCol39-left, .twoCol39-right {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }*/
}

//Breadcrumbs
@media (min-width: 575px) {
   .breadcrumbs-wrapper {
       .breadcrumb-home-wrapper {
           display: block;

           .breadcrumb-link {
               display: inline;
               font-size: 14px;
           }

           .right-arrow {
               display: inline;
           }

           .hidden {
               display: none;
           }
       }

       .breadcrumb-location {
           display: block;
           font-size: 14px;
       }
   }
}

@media (max-width: 574px) {
    .breadcrumbs-wrapper {
        .breadcrumb-home-wrapper:last-of-type {
            display: block;

            .breadcrumb-link {
                display: inline;
                font-size: 16px
            }

            .right-arrow {
                display: none;
            }

            .hidden {
                display: inline;
                margin-right: 8px;
            }
        }
        .breadcrumb-location {
                display: none;
            }
    }
}