/* GLOBAL */

.page-header {
    padding: 48px 0;

}

.page-header-intro p {
    @include font-format($font-family, $font-regular, normal);
    font-size: 16px;
}

h1,
h2 {
    @include font-format($font-family, $font-semibold, normal);
}

h3 {
    padding: 16px 0;
    margin-bottom: 0px !important;
}

hr {
    border: 0;
    border-top: .125rem solid $yellow-primary-mid;
    margin: 0 0 1.5rem;
    text-align: left;
    width: 3.25rem;
}

.body-copy p,
.main-section p {
    font-size: 1rem;
    max-width: 750px;
}

.body-copy .body-copy-content p.small {
    font-size: .8rem;
}

.c-padding-bottom {
    padding-bottom: 0 !important;

    ol:last-child,
    ul:last-child {
        padding-bottom: 0;
    }
}

.c-wrapper .row {
    max-width: 1200px;

    @media (max-width: 1200px) {
        max-width: 1150px;
    }
}

.search-bar-wrapper .search-bar-inner-wrapper .search-bar-search .input-group-container {
    input {
        display: inline-block;
        position: absolute;
        right: 50px;
    }

    span {
        display: inline-block;
        position: absolute;
        right: 0;

        button {
            width: 50px;
        }
    }
}

a.breadcrumb-link .hero-pathway-list-illustration-bg {
    display: none !important;
}

.col-lg-4,
.col-sm-6 {
    .hero-pathway-list-illustration-image {
        display: none !important;
    }

    .hero-pathway-list-illustration-bg {
        display: none !important;
    }

    .hero-pathway-list-content-left {
        flex: initial !important;
    }
}

#navigation-bar {
    .navigation-main-menu {
    
    a {
        color: $white;
        text-decoration: none;
        padding-top: 18px;
        padding-bottom: 18px;
        @include font-format($font-family, $font-semibold, normal);
        
        &:hover, &:focus {
            text-decoration: underline;
            background: $blue-active;
        }
    }
    &:hover, &:focus {
        background: $blue-active;
        }
    }
}

.footer-wrapper {
    margin-top: 48px;
}

.footer {
    .footer-top-links-top {
        padding: 2rem 16px;

        p {
            margin-bottom: 0;
            color: $white;
            font-size: 1.3rem;
        }
    }

    .footer-top {
        padding: 0;

    }


}


@media (max-width: 1205px) {
    .navigation-bar .navigation-main-menu a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 900px) {
    .navigation-bar-wrapper {
        display: none;
    }

    .search-bar-wrapper {
        background: $blue-primary url("../assets/Icon-menu.svg") no-repeat;
        background-size: 20px 16px;
        background-position: center right 15px;

    }

    .search-bar-wrapper .search-bar-inner-wrapper .search-bar-search .input-group-container {
        input {
            display: none;
        }

        button {
            position: absolute;
            right: 0px;
            top: 10px;
        }
    }
}



// Side navigation - Sticky menu
.anchor-menu {
    .sticky-container {
        ul {
            padding:0;
        }
        a {
            text-decoration: none;

            &.active-sticky {
                @include font-format($font-family, $font-semibold, normal);
                border-left: 4px solid $blue-light;
                padding-left: 16px;
            }
        }

    }
}