/* GLOBAL */

.page-header {
    padding: 48px 0;

}
.page-header-intro p {
    @include font-format($font-family, $font-regular, normal);
    font-size: 16px;
}
h1, h2, h3, h4, h5 {
    @include font-format($font-family, $font-semibold, normal); 
    }
.body-copy {
    
    h2 {
        padding: 24px 0 32px 0;
        margin: 0;
        @include font-format($font-family, $font-semibold, normal);
    }
    h3 {
        padding: 16px 0 32px 0;
        margin: 0;
    }
    h4 {
        padding: 16px 0;
        margin: 0;
    }
    h5 {
        padding: 0 0 16px 0;
        margin: 0;
    }

    hr {
        border: 0;
        border-top: .125rem solid $yellow-primary-mid;
        margin: 0;
        text-align: left;
        width: 3.25rem;
        padding: 0 0 32px 0;
    }
    p {
       font-size: 1rem;
        padding: 0 0 32px 0;
        margin: 0;
    }
}
.body-copy-headline h2 {
    padding-top: 0;
}

.body-copy .body-copy-content p.small {
    font-size: .8rem;
}

.c-wrapper .row {
    max-width: 1200px;

    @media (max-width: 1200px) {
        max-width: 1150px;
    }
}
.padding-none {
    @media (min-width: 900px) {
        padding: 0 16px;
    }
}
.margin-bottom {
    margin-bottom: 48px;
}
.vertical-list {
    margin-bottom: 32px;
}

.c-wrapper .body-copy ul {
    padding: 0 0 0 32px;
    margin: 0;
    
    li {
        padding: 0 0 16px 16px;
        margin: 0;
        
        &:last-of-type {
            padding: 0 0 32px 16px;
        }
        
        ul li {
            padding: 0 0 16px 16px;
            margin: 0;
            
            &:last-of-type {
                padding: 0 0 0 16px;
            }
        }
    }
}


// Hero pathways
/*a.breadcrumb-link .hero-pathway-list-illustration-bg {
    display: none !important;
}

.col-lg-4,
.col-sm-6 {
    .hero-pathway-list-illustration-image {
        display: none !important;
    }

    .hero-pathway-list-illustration-bg {
        display: none !important;
    }

    .hero-pathway-list-content-left {
        flex: initial !important;
    }
}*/

.navbar {
    .navigation-item-button {
        padding-bottom: 16px;
        padding-top: 16px;
    }
    a {
        color: white;
        font-weight: 600;
        text-decoration: none;
        &:hover, &:focus {
            text-decoration: underline;
            background: $blue-active;
            color: white;
            border-radius: 0;
        }
    }
}

.bg-light {
    background-color: $blue-primary !important;
}
.navbar-brand {
    font-size: 16px;
    color: white !important;
    &:hover, &:focus {
        text-decoration: underline;
        color: white;
        background: transparent;
    }
}
.navbar-light .navbar-toggler {
    color: white;
    border: none;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("../assets/Icon-menu.svg");
    height: 24px;
    width: 24px;
}
.navbar-expand-lg {
    padding-top: 0;
    padding-bottom: 0;
}

.footer {
    .footer-top-links-top {
        padding: 2rem 16px;

        p {
            margin-bottom: 0;
            color: $white;
            font-size: 1.3rem;
        }
    }
    .footer-top {
        padding: 0;

    }
    .c-wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
}

// Hero tiles
#foundations-illo {
    .cls-1 {
        fill: #ebf4ff;
    }
    .cls-2 {
        fill: #5ba6ff;
    }
    .cls-3 {
        fill: #bedcff;
    }
}
#components-illo {

    .cls-1,
    .cls-6,
    .cls-8 {
        fill: #dfb1cf;
    }
    .cls-1,
    .cls-2 {
        clip-rule: evenodd;
    }
    .cls-2,
    .cls-3,
    .cls-9 {
        fill: #b74d94;
    }
    .cls-4 {
        fill: #f4e4ee;
    }
    .cls-5 {
        fill: #fff;
    }
    .cls-6,
    .cls-9 {
        fill-rule: evenodd;
    }
    .cls-7 {
        clip-path: url(#clip-path);
    }
    .cls-10 {
        clip-path: url(#clip-path-2);
    }
    .cls-11 {
        clip-path: url(#clip-path-3);
    }
    .cls-12 {
        clip-path: url(#clip-path-4);
    }
    .cls-13 {
        clip-path: url(#clip-path-5);
    }
}

@media (min-width: 1200px) {
    .navbar-nav.mr-auto {
        margin-left: -16px;
    }   
}

@media (max-width: 1205px) {
    .navigation-bar .navigation-main-menu a {
        font-size: 18px;
    }
    .navbar-expand-lg {
        padding: 0;
    }
    .navbar-brand {
        padding-left: 16px;
    }
}

@media (max-width: 991px) {
    .navbar-brand {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .navbar-collapse {
        background-color:$blue-active;
    }
    .hero-pathway-list .row .hero-pathway-list-card  .hero-pathway-list-content {
        display: block;
        
        .hero-pathway-list-content-right {
            display: none;
        }
    }
}

@media (max-width: 900px) {
    .navbar-menu {
        border-bottom: 2px solid #1e4175!important;
    }

    .search-bar-wrapper {
        background-size: 20px 16px;
        background-position: center right 15px;

    }
    .navbar {
        padding: 0;
    }

    .search-bar-wrapper .search-bar-inner-wrapper .search-bar-search .input-group-container {
        input {
            display: none;
        }

        button {
            position: absolute;
            right: 0px;
            top: 10px;
        }
    }
}


// Side navigation - Sticky menu
.anchor-menu {
    position: relative;
    .sticky-container {
        ul {
            padding:0;
        }
        a {
            text-decoration: none;

            &.active-sticky {
                @include font-format($font-family, $font-semibold, normal);
                border-left: 4px solid $blue-light;
                padding-left: 16px;
            }
        }
        .sticky-list-head {
            @include font-format($font-family, $font-semibold, normal);     
        }

    }
}


// 2 column pages 
.twoCol39-right {
    margin-bottom: 48px;
}

@media (max-width: 900px) {
    .twoCol39-left {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .twoCol39-right {
        -ms-flex: 0 0 75%;
        -webkit-box-flex: 0;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media (max-width: 480px) {
    .anchor-menu {
        width: 100% !important;
    }
    .anchor-menu .sticky-container div {
        width: 100%;
        position: relative !important;
    }
    .twoCol39-left, .twoCol39-right {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}


