/* Design system styles */

.design-system-card {

    border: 1px solid $grey-light;
    padding: 0;
    margin-bottom: 32px;
    box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, .1);
    width: auto;
    max-width: 750px;
    
    &.extra-wide {
        max-width: 1000px;
    }
    
    code pre {
        color: $blue-primary;
        font-size: 0.85rem;
        line-height: 26px;
        margin: 0;
    }
    
    &.component {
        box-shadow: none;

        .design-system-card-content {
            padding: 0;
        }

        .element-design {
            border: none;
            padding: 24px 24px 24px 32px;

            &.closed {
                border-bottom: none;
            }
            
            p {
                font-size: 1.2rem; 
                padding: 0;
            }
        }
        .element-code {
            border: none;
        }
        .example-wrapper {
            background: $grey-lightest;
            box-shadow: none;
            padding: 40px;
            display: block;
            position: relative;
            max-width: 1000px;

            &.white-back {
                background: $white;
                border-bottom: 1px solid $grey-light;
            }
            
            h3 {
                padding-top: 0;
            }

            /*
            &.expandable {
                margin-bottom: 80px;
            }
            .expand-example {
                margin-bottom: 16px;
                margin-top: -32px;
                z-index: 1000;
                position: absolute;
                bottom: -96px;
                right: 0px;

                img,
                p {
                    margin: 0 auto;
                    display: block;
                }
            }
            */
        }
        .example {
            margin: 0 auto;
        }
    }
       
    .design-system-card-header {
        background: $white;
        padding: 32px 24px 16px;
        border-top: solid 4px $blue-primary;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding: 0;
            margin: 0;
            @include font-format($font-family, $font-semibold, normal);
        }
    }

    .design-system-card-content {
        padding: 24px;
        background: $white;
        border-top: none;
    }
           
    .design-system-card-links {
        background: $white;
        border-top: solid 1px $grey-light;
        padding: 24px;
        
        a {
            @include font-format($font-family, $font-semibold, normal);
            color: $blue-primary;
            text-decoration: none;
            border: none;
            box-shadow: none;
            padding-left: 32px;
            background: url(../assets/Icon-arrow-right-blue.svg) no-repeat;
            background-position: left center;
            
            &:hover {
                box-shadow: none;
            }
        }
    }
    
    .element-design {
        padding: 24px;
        border: solid 1px $grey-light;
        border-bottom: none;
        background: $white url(../assets/Icon-accordion-arrow-up-default.svg) no-repeat;
        background-position: right 24px center;

        &.closed {
            border-bottom: solid 1px $grey-light;
            background: $white url(../assets/Icon-accordion-arrow-down-default.svg) no-repeat;
            background-position: right 24px center;

            &.unavailable {
                background: $white;
            }
        }

        @include font-format($font-family, $font-semibold, normal);
        padding-left: 16px;
        padding-right: 80px;
        display: block;

        &::before {
            content: "";
        }

        &.dark-back {
            background: $blue-primary-mid url(../assets/Icon-accordion-arrow-up-default.svg) no-repeat;
            background-position: right 24px center;

            &.closed {
                background: $blue-primary-mid url(../assets/Icon-accordion-arrow-down-default.svg) no-repeat;
                background-position: right 24px center;
            }
        }
    }
        
    .element-code {
            padding: 24px;
            border: solid 1px $grey-light;
            border-top: none;
            background: $grey-lightest;
            display: none;
            
            &.open {
                display: block;
            }
            h5 {
                margin-top: 16px !important;
                
                &:first-of-type {
                    margin-top: 0 !important    ;
                }
            }
            a {
                color: $blue-primary;
            }
        } 
        
    .desktop-sample {

            h1, h2, h3, h4, h5, p {
                margin: 0;
                padding: 0;
                color: #333333;
            }
            padding-bottom: 32px;
            
            h1 {
                @include font-format($font-family, $font-semibold, normal);
                font-size: 44px;
                line-height: 56px;
            }
            h2 {
                @include font-format($font-family, $font-semibold, normal);
                font-size: 32px;
                line-height: 40px;
            }
            h3 {
                @include font-format($font-family, $font-semibold, normal);
                font-size: 21px;
                letter-spacing: 0;
                line-height: 28px;
            }
            h4 {
                @include font-format($font-family, $font-semibold, normal);
                font-size: 18px;
                letter-spacing: 0;
                line-height: 28px;
            }

            p.header-intro {
                @include font-format($font-family, $font-regular, normal);
                font-size: 18px;
                letter-spacing: 0.2px;
                line-height: 32px;
                }

            p {
                @include font-format($font-family, $font-regular, normal);
                font-size: 16px;
                letter-spacing: 0.2px;
                line-height: 28px;
            }
            p.body-mini {
                @include font-format($font-family, $font-regular, normal);
                font-size: 14px;
                letter-spacing: 0;
                line-height: 24px;
            }
            li {
                @include font-format($font-family, $font-regular, normal);
                font-size: 16px;
                letter-spacing: 0;
                line-height: 28px;
            }
            p.blockquote {
                @include font-format($font-family, $font-regular, normal);
                font-size: 21px;
                letter-spacing: 0.2px;
                text-align: center;
                line-height: 40px;
            }
            .pull-quote-direct svg {
                display: block;
                margin: 0 auto 24px;
            }
            .source {
                @include font-format($font-family, $font-regular, italic);
                color: $grey-darker;
                padding-top: 8px;
                font-size: 16px;
                line-height: 24px;
                
                hr {
                    border-color: $grey-darker;
                    border-top-width: .125rem;
                    display: inline-block;
                    height: .125rem;
                    line-height: 24px;
                    margin: 0 .125rem 0 0;
                    opacity: .6;
                    vertical-align: middle;
                    width: 1.5625rem;
                }
            }
            .hr-bottom {
                background-color: $yellow-primary-mid;
                border-top: 0;
                height: .125rem;
                margin: 0 auto;
                width: 2.625rem;
                margin-top: 24px;
            }
            p.header-intro {
                @include font-format($font-family, $font-regular, normal);
                font-size: 18px;
                letter-spacing: 0.2px;
                line-height: 30px;
            }
            p.header-update {
                @include font-format($font-family, $font-regular, italic);
                font-size: 12px;
                letter-spacing: 0.2px;
                line-height: 18px;
            }
            p.header-label {
                @include font-format($font-family, $font-regular, normal);
                font-size: 12px;
                letter-spacing: .2px;
                line-height: 20px;
                text-transform: uppercase;
            }
            
}

    .mobile-sample {
            h1, h2, h3, h4, h5, p {
                margin: 0;
                padding: 0;
                color: $black-light;
            }
            padding-bottom: 32px;

            h1 {
                @include font-format($font-family, $font-semibold, normal);
                font-size: 32px;
                letter-spacing: 0;
                line-height: 36px;
            }

            h2 {
                @include font-format($font-family, $font-semibold, normal);
                font-size: 24px;
                line-height: 30px;
            }
            h3 {
                @include font-format($font-family, $font-semibold, normal);
                font-size: 21px;
                letter-spacing: 0;
                line-height: 32px;
            }
            h4 {
                @include font-format($font-family, $font-semibold, normal);
                font-size: 18px;
                letter-spacing: 0;
                line-height: 28px;
            }

            h5 {
                line-height: 24px;
            }
            p {
                @include font-format($font-family, $font-regular, normal);
                font-size: 16px;
                letter-spacing: 0.2px;
                line-height: 28px;
            }
            p.body-mini {
                @include font-format($font-family, $font-regular, normal);
                font-size: 14px;
                letter-spacing: 0;
                line-height: 24px;
            }
            li {
                @include font-format($font-family, $font-regular, normal);
                font-size: 16px;
                letter-spacing: 0.2px;
                line-height: 24px;
            }
            p.blockquote {
                @include font-format($font-family, $font-regular, normal);
                font-size: 18px;
                letter-spacing: 0.2px;
                text-align: center;
                line-height: 24px;
            }
            .pull-quote-direct svg {
                display: block;
                margin: 0 auto 24px;
            }
            .source {
                @include font-format($font-family, $font-regular, italic);
                color: $grey-darker;
                padding-top: 8px;
                font-size: 16px;
                line-height: 24px;
                
                hr {
                    border-color: $grey-darker;
                    border-top-width: .125rem;
                    display: inline-block;
                    height: .125rem;
                    margin: 0 .125rem 0 0;
                    opacity: .6;
                    vertical-align: middle;
                    width: 1.5625rem;
                }
            }
            .hr-bottom {
                background-color: $yellow-primary-mid;
                border-top: 0;
                height: .125rem;
                margin: 0 auto;
                width: 2.625rem;
                margin-top: 24px;
            }
            p.header-intro {
                @include font-format($font-family, $font-regular, normal);
                font-size: 16px;
                letter-spacing: 0.2px;
                line-height: 28px;
            }
            p.header-update {
                @include font-format($font-family, $font-regular, italic);
                font-size: 12px;
                letter-spacing: 0.2px;
                line-height: 16px;
            }
            p.header-label {
                @include font-format($font-family, $font-regular, normal);
                font-size: 12px;
                letter-spacing: .2px;
                line-height: 20px;
                text-transform: uppercase;
            }
            
        }

    .hero-pathway {
        
        .label {
            @include font-format($font-family, $font-regular, normal);
                font-size: 12px;
                letter-spacing: .2px;
                line-height: 20px;
                text-transform: uppercase;
        }
        .description {
            padding-bottom: 48px;
        }
        
        .icon-link {
            background: url(../assets/Icon-arrow-right-blue.svg) no-repeat left 8px center;
            height: 32px;
        }
        .hero-container {
            height: auto;
            background: $white;
            padding: 24px;
            border: none;
            border-top: 4px solid $blue-primary;
            box-shadow: 0 0.125rem 0.75rem 0 rgba(0,0,0,.2);
            transition-property: transform, -webkit-transform;
            transition-duration: 0.4s, 0.4s;
            transition-timing-function: ease, ease;
            transition-delay: 0s, 0s;
            
        } 

        &:hover {
            h3 {
                color: $blue-primary;
                text-decoration: underline;
            }
            .icon-link {
                background: url(../assets/Icon-arrow-circle-right-blue.svg) no-repeat left 0px center;
                height: 32px; 
            }
            .hero-container {
                transform: translateY(-.1875rem);
            }
        }
}

    .standard-pathway {

        .description {
            padding-bottom: 48px;
        }

        .icon-link {
            background: url(../assets/Icon-arrow-right-blue.svg) no-repeat left 8px center;
            height: 32px;
        }

        .standard-container {
            height: auto;
            max-width: 374px;
            background: $white;
            padding: 24px;
            border: none;
            border-top: 4px solid $blue-primary;
            box-shadow: 0 0.125rem 0.75rem 0 rgba(0, 0, 0, .2);
            transition-property: transform, -webkit-transform;
            transition-duration: 0.4s, 0.4s;
            transition-timing-function: ease, ease;
            transition-delay: 0s, 0s;
        }

        &:hover {
            h3 {
                color: $blue-primary;
                text-decoration: underline;
            }

            .icon-link {
                background: url(../assets/Icon-arrow-circle-right-blue.svg) no-repeat left 0px center;
                height: 32px;
            }

            .standard-container {
                transform: translateY(-.1875rem);
            }
        }
    }
     
    .light-pathway {
        transition-property: transform, -webkit-transform;
        transition-duration: 0.4s, 0.4s;
        transition-timing-function: ease, ease;
        transition-delay: 0s, 0s;
        max-width: 374px;
        border-top: 4px solid $blue-primary-light;
        background: $white;
        margin: 0 auto;

        .description {
            padding-bottom: 16px;
        }

        .light-container {
            height: auto;
            padding: 16px 24px 24px 0;
            border-top: none;
            background: none;
        }

        h3 {
            padding: 0 0 16px 0;
        }

        .description {
            letter-spacing: normal;
        }

        .icon-link {
            background: url(../assets/Icon-arrow-right-blue.svg) no-repeat left center;
            height: 16px;
            padding: 0;
        }

        &:hover {
            background: $blue-primary-lightest;
            transition-property: transform, -webkit-transform;
            transition-duration: 0.4s, 0.4s;
            transition-timing-function: ease, ease;
            transition-delay: 0s, 0s;

            h3 {
                color: $blue-primary;
                text-decoration: underline;
                transform: none;
            }

            .light-container {
                transform: translateX(1rem);
            }
        }
    }

    .inline-pathway {
        transition-property: transform, -webkit-transform;
        transition-duration: 0.4s, 0.4s;
        transition-timing-function: ease, ease;
        transition-delay: 0s, 0s;
        border-top: 4px solid $blue-primary-light;
        background: $blue-primary-lightest;

        .description {
            padding-bottom: 16px;
        }

        .inline-container {
            height: auto;
            max-width: 620px;
            border-top: none;
            background: none;
            padding: 24px;
            margin: 0;
        }

        .icon-link {
            background: url(../assets/Icon-arrow-right-blue.svg) no-repeat left center;
            height: auto;
            padding: 0 0 0 24px;

            &.external {
                background: url(../assets/Icon-external-link-blue.svg) no-repeat left center;
            }

            a {
                text-transform: uppercase;
                text-decoration: none;
                box-shadow: none;
                color: $black-light;
                font-size: 12px;
                line-height: 24px;
                @include font-format($font-family, $font-regular, normal);
            }
        }

        &:hover {
            .description {
                text-decoration: underline;
            }

            .icon-link,
            .description {
                transform: none;
            }

            .inline-container {
                transform: translateX(1rem);
            }
        }
    }

    .feature-image-pathway {
        .label {
            @include font-format($font-family, $font-regular, normal);
            font-size: 12px;
            letter-spacing: .2px;
            line-height: 20px;
            text-transform: uppercase;
            color: $white;
        }
        h3 {
            color: $white;
            
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
        .description {
            color: $white;
        }
        .icon-link {
            background: url(../assets/Icon-arrow-right-blue.svg) no-repeat left 8px center;
            height: 32px; 

            &:hover {
                background: url(../assets/Icon-arrow-circle-right-blue.svg) no-repeat left 0px center;
                height: 32px; 

            }
        }
        .feature-image-container {
            background: $blue-primary-mid;
            padding: 24px;
            border: none;
            height: 80px;
            box-shadow: 0 0.125rem 0.75rem 0 rgba(0,0,0,.2);
            transition-property: transform, -webkit-transform;
            transition-duration: 0.4s, 0.4s;
            transition-timing-function: ease, ease;
            transition-delay: 0s, 0s;

            &:hover {
                transform: translateY(-.1875rem);
                background: $blue-primary;
            }
        }
        .description {
            padding-bottom: 48px;
        }
        .feature-image-container {
            height: auto;
            max-width: 920px;
            background: $blue-primary-mid;
            display: -webkit-flex; /* Safari 6.1+ */
            display: flex;
            }
        .feature-text {
            -webkit-box-flex: 1;
            flex: 1 100%;
            padding: 0 32px 0 0;
        }
        .feature-image {
            -webkit-box-flex: 1;
            flex: 1 100%;
            padding: 0;
        }
        &:hover {
            h3 {
                color: $white;
                text-decoration: underline;
            }
            .icon-link {
                background: url(../assets/Icon-arrow-circle-right-blue.svg) no-repeat left 0px center;
                height: 32px; 
            }
            .feature-image-container {
                background: $blue-primary;
            }
        }
        img {
            margin-bottom: 0;
        }
        
    @media (max-width: 1200px) {
        .feature-image-container {
            display: -webkit-flex; /* Safari 6.1+ */
            display: flex;
            flex-direction: column-reverse;
        }
        
        .feature-text {
            -webkit-box-flex: 1;
            flex: 1 100%;
            padding: 0 32px 0 0;
        }
        .feature-image {
            -webkit-box-flex: 1;
            flex: 1 100%;
            padding: 0;
        }
    }
    @media (max-width: 600px) {
        .feature-image-container {
            padding: 0;
        } 
        .feature-text {
            padding: 24px;
        }
        .feature-image {
            
        }
    }
}
    
    .image-pathway {
        img {
            margin: 0;
        }
        .label {
            font-size: 12px;
            letter-spacing: .2px;
            line-height: 20px;
            text-transform: uppercase;
            padding: 0;
            margin: 8px 0 16px 0;
        }
        h3 {
            padding: 0 0 16px 0;
        }

        .description {
            font-size: 14px;
            line-height: 24px;
            padding-bottom: 48px;
        }

        .icon-link {
            background: url(../assets/Icon-arrow-right-blue.svg) no-repeat left 8px center;
            height: 32px;
        }
        .image-list-text {
            padding: 16px;
        }

        .image-list-container {
            height: auto;
            max-width: 374px;
            background: $white;
            border: none;
            border-top: 4px solid $blue-primary;
            box-shadow: 0 0.125rem 0.75rem 0 rgba(0, 0, 0, .2);
            transition-property: transform, -webkit-transform;
            transition-duration: 0.4s, 0.4s;
            transition-timing-function: ease, ease;
            transition-delay: 0s, 0s;
        }

        &:hover {
            h3 {
                color: $blue-primary;
                text-decoration: underline;
            }

            .icon-link {
                background: url(../assets/Icon-arrow-circle-right-blue.svg) no-repeat left 0px center;
                height: 32px;
            }

            .image-list-container {
                transform: translateY(-.1875rem);
            }
        }
        }
    
    .page-headers {
        .label {
            @include font-format($font-family, $font-regular, normal);
            font-size: 12px;
            letter-spacing: .2px;
            line-height: 20px;
            text-transform: uppercase;
            color: $white;
        }
        h1 {
            @include font-format($font-family, $font-semibold, normal);
            margin-bottom: 16px;
            color: $white;
        }
        .updated {
            @include font-format($font-family, $font-regular, italic);
            font-size: 12px;
            letter-spacing: 0.2px;
            line-height: 18px;
        }
        .description {
            color: $white;
        }
        .page-headers-container {
            background: $blue-primary-mid;
            padding: 64px 16px;
        }
        &.business-info,
        &.grants {
            .label, h1, .description {
                color: $black-light;
            }
            .page-headers-container {
                background: $grey-headers;
            }
        }
        @media (min-width: 1600px) {
            &.topic {
                .header-content {
                    width: 70%;
                }
                .page-headers-container {
                    background: $blue-primary-mid url(../assets/illustration-reading-man.svg) no-repeat right 32px center;
                    background-size: 200px;
                }
            }
        }
    }
    
    .standard-cta {
        border-top: 4px solid $grey-light;
        background: $grey-lighter;

        .description {
            padding-bottom: 16px;
        }

        .standard-cta-container {
            height: auto;
            max-width: 620px;
            border-top: none;
            background: none;
            padding: 32px 32px 48px 32px;
            margin: 0;
        }
        .cta-content-inner {
            margin-bottom: 32px;
        }

        .cta-button-wrapper {
            width: auto;
            display: inline-block;
            transition-property: transform, -webkit-transform;
            transition-duration: 0.4s, 0.4s;
            transition-timing-function: ease, ease;
            transition-delay: 0s, 0s;
            
            &:hover {
                transform: translateY(-.1875rem);
            }
        }
        .cta-button {
            background: $blue-primary-mid 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 4px #0000001A;
            border: 2px solid $blue-primary;
            border-radius: 6px;
            opacity: 1;
            padding: 8px 32px;
            text-align: center;
            letter-spacing: 0;
            color: $white;
        
            &:hover {
                background: $blue-primary 0% 0% no-repeat padding-box;
                box-shadow: 0px 4px 8px #0000004D;
                border: 2px solid $blue-active;
                border-radius: 6px;
                opacity: 1;
                
            }
            &:active {
                background: $blue-active 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #0000004D;
                border-radius: 6px;
                opacity: 1;
            }
        }
    }
    
    .download-cta {
        border-top: 4px solid $grey-light;
        background: $grey-lighter;

        .description {
            padding-bottom: 16px;
        }

        .download-cta-container {
            height: auto;
            max-width: 620px;
            border-top: none;
            background: none;
            padding: 32px 32px 48px 32px;
            margin: 0;
        }
        .cta-content-inner {
            margin-bottom: 32px;
        }
        .action-card-button {
            background: $white;
        }
       
    }

    
    &.no-header {
        border-top: 4px solid $blue-primary;
        background: $white;
        
        .boxes-wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        .design-system-card-content {
            background: $white;
            
            .colours {
                flex: 1 0 25%;
                p {
                    font-size: .8rem;
                    line-height: 1.2rem;
                    margin: 8px 0 24px;
                }
                span {
                    @include font-format($font-family, $font-semibold, normal);
                }
                
                &.empty {
                    border-top: 60px solid $white;
                }
                &.bga-blue-primary {
                    border-top: 60px solid $blue-primary;
                }
                 &.bga-blue-interactive {
                    border-top: 60px solid $blue-primary-mid;
                }
                 &.bga-blue-tint1 {
                    border-top: 60px solid $blue-primary-light;
                }
                 &.bga-blue-tint2 {
                    border-top: 60px solid $blue-primary-lightest;
                }
                &.blue-secondary {
                    border-top: 60px solid $blue-secondary;
                }
                 &.blue-active {
                    border-top: 60px solid $blue-active;
                }
                 &.blue-hyperlink {
                    border-top: 60px solid $blue-hyperlink;
                }
                &.yellow-primary {
                    border-top: 60px solid $yellow-primary;
                }
                 &.yellow-tint1 {
                    border-top: 60px solid $yellow-primary-mid;
                }
                 &.yellow-tint2 {
                    border-top: 60px solid $yellow-primary-light;
                }
                 &.yellow-tint3 {
                    border-top: 60px solid $yellow-primary-lightest;
                }
                &.yellow-secondary {
                    border-top: 60px solid $yellow-secondary;
                }
                 &.yellow-secondary-tint1 {
                    border-top: 60px solid $yellow-secondary-mid;
                }
                 &.yellow-secondary-tint2 {
                    border-top: 60px solid $yellow-secondary-light;
                }
                 &.yellow-secondary-tint3 {
                    border-top: 60px solid $yellow-secondary-lightest;
                }
                 &.teal-primary {
                    border-top: 60px solid $teal-dark;
                }
                 &.teal-tint1 {
                    border-top: 60px solid $teal-mid;
                }
                 &.teal-tint2 {
                    border-top: 60px solid $teal-light;
                }
                 &.teal-tint3 {
                    border-top: 60px solid $teal-lightest;
                }
                &.blue-primary {
                    border-top: 60px solid $blue-dark;
                }
                 &.blue-tint1 {
                    border-top: 60px solid $blue-mid;
                }
                 &.blue-tint2 {
                    border-top: 60px solid $blue-light;
                }
                 &.blue-tint3 {
                    border-top: 60px solid $blue-lightest;
                }
                &.red-primary {
                    border-top: 60px solid $red-dark;
                }
                 &.red-tint1 {
                    border-top: 60px solid $red-mid;
                }
                 &.red-tint2 {
                    border-top: 60px solid $red-light;
                }
                 &.red-tint3 {
                    border-top: 60px solid $red-lightest;
                }
                &.darkblue-primary {
                    border-top: 60px solid $darkblue-dark;
                }
                 &.darkblue-tint1 {
                    border-top: 60px solid $darkblue-mid;
                }
                 &.darkblue-tint2 {
                    border-top: 60px solid $darkblue-light;
                }
                 &.darkblue-tint3 {
                    border-top: 60px solid $darkblue-lightest;
                }
                &.darkpurple-primary {
                    border-top: 60px solid $darkpurple-dark;
                }
                 &.darkpurple-tint1 {
                    border-top: 60px solid $darkpurple-mid;
                }
                 &.darkpurple-tint2 {
                    border-top: 60px solid $darkpurple-light;
                }
                 &.darkpurple-tint3 {
                    border-top: 60px solid $darkpurple-lightest;
                }
                &.purple-primary {
                    border-top: 60px solid $purple-dark;
                }
                &.purple-tint1 {
                    border-top: 60px solid $purple-mid;
                }
                &.purple-tint2 {
                    border-top: 60px solid $purple-light;
                }
                &.purple-tint3 {
                    border-top: 60px solid $purple-lightest;
                }
                &.black {
                    border-top: 60px solid $black;
                }
                &.almost-black {
                    border-top: 60px solid $black-light;
                }
                &.darkest-grey {
                    border-top: 60px solid $grey-darkest;
                }
                &.darker-grey {
                    border-top: 60px solid $grey-darker;
                }
                &.dark-grey {
                    border-top: 60px solid $grey-dark;
                }
                &.grey-back {
                    border-top: 60px solid $grey;
                }
                &.light-grey {
                    border-top: 60px solid $grey-light;
                }
                &.lighter-grey {
                    border-top: 60px solid $grey-lighter;
                }
                &.lightest-grey {
                    border-top: 60px solid $grey-lightest;
                }
                &.white {
                    border-top: 60px solid $white;
                }
                &.grey-headers {
                    border-top: 60px solid $grey-headers;
                }
                &.positive-primary {
                    border-top: 60px solid $green-positive-dark;
                }
                &.positive-interactive {
                    border-top: 60px solid $green-positive-mid;
                }
                &.positive-tint1 {
                    border-top: 60px solid $green-positive-light;
                }
                &.positive-tint2 {
                    border-top: 60px solid $green-positive-lightest;
                }
                &.negative-primary {
                    border-top: 60px solid $red-negative-dark;
                }
                &.negative-interactive {
                    border-top: 60px solid $red-negative-mid;
                }
                &.negative-tint1 {
                    border-top: 60px solid $red-negative-light;
                }
                &.negative-tint2 {
                    border-top: 60px solid $red-negative-lightest;
                }
            }
        }
        .design-system-card-links {
            background: $white;
        }
    }
    
}

.responsive-img {
    max-width:100%;
    width:100%;
    margin-bottom: 24px;   
}

.layouts {
     img.tablet {
        max-width: 500px;
    }
    img.mobile {
        max-width: 250px;
    }
}


.grey-background {
    background: $grey-lighter;
}
.grey-border {
    border: 1px solid $grey-light;
}

.adobe-link {
    padding: 0;
    margin-bottom: 24px;
    max-width: 750px;
    p {
        @include font-format($font-family, $font-regular, normal);
    }   
    
    a.action-card-anchor:after {
        display: none !important;
    }
}

.coming-soon {
    position: relative;

    .coming-soon-label {
        position: absolute;
        background: rgba(102,102,102,.4);
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2000;

        p {
            display: block;
            width: 100;
            padding: 16px 0px;
            margin-top: 80px;
            background: rgba(102,102,102,.85);
            color: $white;
            opacity: 1;
            text-align: center;
            font-size: 21px;
        }
    }
}
