/* Design system styles */

.design-system-card {

    border: 1px solid $grey-light;
    padding: 0;
    margin-bottom: 32px;
    box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, .1);
    max-width:750px;
    
    &.example-wrapper {
        background: $grey-lighter;
        box-shadow: none;
        padding: 32px;
        display: inline-block;
        
        &.white-back {
            background: $white;
        }
    }
    
    code pre {
        color: $blue-primary;
        font-size: 0.85rem;
        line-height: 26px;
        margin: 0;
    }
  
    .design-system-card-header {
        background: $white;
        padding: 32px 24px 16px;
        border-top: solid 4px $blue-primary;
        border-left: solid 1px $grey-light;
        border-right: solid 1px $grey-light;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding: 0;
            margin: 0;
            font-family: OpenSans-Semibold;
        }
    }

    .design-system-card-content {
        padding: 24px;
        background: $white;
        border: solid 1px $grey-light;
        border-top: none;
    }
           
    .design-system-card-links {
        background: $white;
        border: solid 1px $grey-lighter;
        border-top: none;
        padding: 24px;
        
        a {
            color: $blue-primary;
            text-decoration: none;
            border: none;
            font-family: OpenSans-Semibold;
            font-weight: normal;
            box-shadow: none;
            padding-left: 32px;
            background: url(../assets/Icon-arrow-right-blue.svg) no-repeat;
            background-position: left center;
            
            &:hover {
                box-shadow: none;
            }
        }
    }
    
    .element-design {
            padding: 24px;
            border: solid 1px $grey-light;
            background: $white url(../assets/Icon-chevron-up-blue.svg) no-repeat;
            background-position: right 24px center;
            
            &.closed {
                background: $white url(../assets/Icon-chevron-down-blue.svg) no-repeat;
                background-position: right 24px center;
                
                &.unavailable {
                    background: $white;
                }
            }
            font-weight: 600;
            padding-left: 16px;
            padding-right: 60px;
            display: block;
                    
                &::before {
                    content: "";
                }
        }
        
    .element-code {
            padding: 24px;
            border: solid 1px $grey-light;
            border-top: none;
            background: $grey-lightest;
            display: none;
            
            &.open {
                display: block;
            }
            h5 {
                margin-top: 16px !important;
                
                &:first-of-type {
                    margin-top: 0 !important    ;
                }
            }
            a {
                color: $blue-primary;
            }
        } 
        
    .desktop-sample {

            h1, h2, h3, h4, h5, p {
                margin: 0;
                padding: 0;
                color: #333333;
            }
            padding-bottom: 32px;
            
            h1 {
                font-family: OpenSans-Semibold;
                font-size: 44px;
                line-height: 56px;
            }
            h2 {
                font-family: OpenSans-Semibold;
                font-size: 32px;
                line-height: 40px;
            }
            h3 {
                font-family: OpenSans-Semibold;
                font-size: 21px;
                letter-spacing: 0;
                line-height: 28px;
            }
            h4 {
                font-family: OpenSans-Semibold;
                font-size: 18px;
                letter-spacing: 0;
                line-height: 28px;
            }

            p.header-intro {
                font-family: OpenSans;
                font-size: 18px;
                letter-spacing: 0.2px;
                line-height: 32px;
                }

            p {
                font-family: OpenSans;
                font-size: 16px;
                letter-spacing: 0.2px;
                line-height: 32px;
                font-weight: 400;
            }
            p.body-mini {
                font-family: OpenSans;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 24px;
            }
            li {
                font-family: OpenSans;
                font-size: 16px;
                letter-spacing: 0;
                line-height: 32px;
                font-weight: 400;
            }
            p.blockquote {
                font-family: OpenSans;
                font-size: 21px;
                color: #333333;
                letter-spacing: 0.2px;
                text-align: center;
                line-height: 40px;
                font-weight: 400;
            }
            .pull-quote-direct svg {
                display: block;
                margin: 0 auto 24px;
            }
            .source {
                font-weight: 400;
                color: $grey-darker;
                padding-top: 8px;
                font-size: 16px;
                
                hr {
                    border-color: #666;
                    border-top-width: .125rem;
                    display: inline-block;
                    height: .125rem;
                    margin: 0 .125rem 0 0;
                    opacity: .6;
                    vertical-align: middle;
                    width: 1.5625rem;
                }
            }
            .hr-bottom {
                background-color: #edca72;
                border-top: 0;
                height: .125rem;
                margin: 0 auto;
                width: 2.625rem;
                margin-top: 24px;
            }
            p.header-intro {
                font-family: OpenSans;
                font-size: 18px;
                letter-spacing: 0.2px;
                line-height: 32px;
            }
            p.header-update {
                font-family: OpenSans;
                font-size: 12px;
                color: #666666;
                letter-spacing: 0.2px;
                line-height: 24px;
                font-style: italic;
            }
            p.header-label {
                font-family: OpenSans;
                font-size: 12px;
                letter-spacing: .2px;
                line-height: 16px;
                text-transform: uppercase;
                font-weight: 400;
            }
            
}

    .mobile-sample {
            h1, h2, h3, h4, h5, p {
                margin: 0;
                padding: 0;
                color: #333333;
            }
            padding-bottom: 32px;

            h1 {
                font-family: OpenSans-Semibold;
                font-size: 32px;
                letter-spacing: 0;
                line-height: 36px;
            }

            h2 {
                font-family: OpenSans-Semibold;
                font-size: 24px;
                line-height: 32px;
            }
            h3 {
                font-size: 21px;
                letter-spacing: 0;
                line-height: 30px;
            }
            h4 {
                font-family: OpenSans-Semibold;
                font-size: 18px;
                letter-spacing: 0;
                line-height: 28px;
            }
            p {
                font-family: OpenSans;
                font-size: 14px;
                letter-spacing: 0.2px;
                line-height: 24px;
                font-weight: 400;
            }
            p.body-mini {
                font-family: OpenSans;
                font-size: 12px;
                letter-spacing: 0;
                line-height: 24px;
            }
            li {
                font-family: OpenSans;
                font-size: 14px;
                letter-spacing: 0.2px;
                line-height: 24px;
                font-weight: 400;
            }
            p.blockquote {
                font-family: OpenSans;
                font-size: 18px;
                color: #333333;
                letter-spacing: 0.2px;
                text-align: center;
                line-height: 24px;
                font-weight: 400;
            }
            .pull-quote-direct svg {
                display: block;
                margin: 0 auto 24px;
            }
            .source {
                font-weight: 400;
                color: $grey-darker;
                padding-top: 8px;
                font-size: 14px;
                
                hr {
                    border-color: #666;
                    border-top-width: .125rem;
                    display: inline-block;
                    height: .125rem;
                    margin: 0 .125rem 0 0;
                    opacity: .6;
                    vertical-align: middle;
                    width: 1.5625rem;
                }
            }
            .hr-bottom {
                background-color: #edca72;
                border-top: 0;
                height: .125rem;
                margin: 0 auto;
                width: 2.625rem;
                margin-top: 24px;
            }
            p.header-intro {
                font-family: OpenSans;
                font-size: 16px;
                letter-spacing: 0.2px;
                line-height: 28px;
            }
            p.header-update {
                font-family: OpenSans;
                font-size: 12px;
                color: #666666;
                letter-spacing: 0.2px;
                line-height: 16px;
                font-style: italic;
            }
            p.header-label {
                font-family: OpenSans;
                font-size: 12px;
                letter-spacing: .2px;
                line-height: 20px;
                text-transform: uppercase;
                font-weight: 400;
            }
            
        }

    .hero-pathway {
        h3 {
            &:hover {
                color: $blue-primary;
                text-decoration: underline;
            }
        }
        .icon-link {
            background: url(../assets/Icon-arrow-right-blue.svg) no-repeat left 8px center;
            height: 32px; 

            &:hover {
                background: url(../assets/Icon-arrow-circle-right-blue.svg) no-repeat left 0px center;
                height: 32px; 

            }
        }
        .hero-container {
            background: $white;
            padding: 24px;
            border: none;
            border-top: 4px solid $blue-primary;
            height: 80px;
            box-shadow: 0 0.125rem 0.75rem 0 rgba(0,0,0,.2);
            transition-property: transform, -webkit-transform;
            transition-duration: 0.4s, 0.4s;
            transition-timing-function: ease, ease;
            transition-delay: 0s, 0s;

            &:hover {
                transform: translateY(-.1875rem);
            }
        }
    &.example {
        .description {
            padding-bottom: 48px;
        }
        .hero-container {
            height: auto;
            

        } 
        &:hover {
            h3 {
                color: $blue-primary;
                text-decoration: underline;
            }
            .icon-link {
                background: url(../assets/Icon-arrow-circle-right-blue.svg) no-repeat left 0px center;
                height: 32px; 
            }
        }
    }
}

    .standard-pathway {
            h3 {
                &:hover {
                    color: $blue-primary;
                    text-decoration: underline;
                }
            }
            .icon-link {
                background: url(../assets/Icon-arrow-right-blue.svg) no-repeat left 8px center;
                height: 32px; 
                
                &:hover {
                    background: url(../assets/Icon-arrow-circle-right-blue.svg) no-repeat left 0px center;
                    height: 32px; 
                    
                }
            }
            .standard-container {
                background: $white;
                padding: 24px;
                border: none;
                border-top: 4px solid $blue-primary;
                height: 80px;
                box-shadow: 0 0.125rem 0.75rem 0 rgba(0,0,0,.2);
                transition-property: transform, -webkit-transform;
                transition-duration: 0.4s, 0.4s;
                transition-timing-function: ease, ease;
                transition-delay: 0s, 0s;
                
                &:hover {
                    transform: translateY(-.1875rem);
                }
            }
        &.example {
            .description {
                padding-bottom: 48px;
            }
            .standard-container {
                height: auto;
                max-width: 374px;
                
            } 
            &:hover {
                h3 {
                    color: $blue-primary;
                    text-decoration: underline;
                }
                .icon-link {
                    background: url(../assets/Icon-arrow-circle-right-blue.svg) no-repeat left 0px center;
                    height: 32px; 
                }
            }
        }
    }
     
    .light-pathway {
        transition-property: transform, -webkit-transform;
        transition-duration: 0.4s, 0.4s;
        transition-timing-function: ease, ease;
        transition-delay: 0s, 0s;
        
        h3 {
            padding: 0 0 16px 0;
            &:hover {
                color: $blue-primary;
                text-decoration: underline;
                transform: translate(1rem);
            }
        }
        .description {
            letter-spacing: normal;
            &:hover {
                transform: translate(1rem);
            }
        }
        .icon-link {
            background: url(../assets/Icon-arrow-right-blue.svg) no-repeat left center;
            height: 16px; 
            padding: 0;
            
            &:hover {
                transform: translate(1rem);
            }
        }
        .light-container {
            padding: 16px 24px 24px 0;
            border-top: 4px solid $blue-primary-light;
            height: 80px;
            transition-property: transform, -webkit-transform;
            transition-duration: 0.4s, 0.4s;
            transition-timing-function: ease, ease;
            transition-delay: 0s, 0s;

            &:hover {
                background: $blue-primary-lightest;
            }
        }
    &.example {
        border-top: 4px solid $blue-primary-light;
        background: $white;
        
        .description {
            padding-bottom: 16px;
        }   
        .light-container {
            height: auto;
            max-width: 374px;
            padding: 16px 24px 24px 0;
            border-top: none;
            background: none;
        } 
        &:hover {
            background: $blue-primary-lightest;
            transition-property: transform, -webkit-transform;
            transition-duration: 0.4s, 0.4s;
            transition-timing-function: ease, ease;
            transition-delay: 0s, 0s;
            
            h3 {
                color: $blue-primary;
                text-decoration: underline;
                transform: none;
            }
            .icon-link, .description {
                transform: none;    
            }
            .light-container {
                transform: translateX(1rem);
            }
        }
    }
}

    &.no-header {
        border-top: 4px solid $blue-primary;
        background: $white;
        
        .boxes-wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        .design-system-card-content {
            background: $white;
            
            .colours {
                flex: 1 0 25%;
                p {
                    font-size: .8rem;
                    line-height: 1.2rem;
                    margin: 8px 0 24px;
                }
                span {
                    font-family: OpenSans-Semibold;
                }
                
                &.empty {
                    border-top: 60px solid $white;
                }
                &.bga-blue-primary {
                    border-top: 60px solid $blue-primary;
                }
                 &.bga-blue-interactive {
                    border-top: 60px solid $blue-primary-mid;
                }
                 &.bga-blue-tint1 {
                    border-top: 60px solid $blue-primary-light;
                }
                 &.bga-blue-tint2 {
                    border-top: 60px solid $blue-primary-lightest;
                }
                &.blue-secondary {
                    border-top: 60px solid $blue-secondary;
                }
                 &.blue-active {
                    border-top: 60px solid $blue-active;
                }
                 &.blue-hyperlink {
                    border-top: 60px solid $blue-hyperlink;
                }
                &.yellow-primary {
                    border-top: 60px solid $yellow-primary;
                }
                 &.yellow-tint1 {
                    border-top: 60px solid $yellow-primary-mid;
                }
                 &.yellow-tint2 {
                    border-top: 60px solid $yellow-primary-light;
                }
                 &.yellow-tint3 {
                    border-top: 60px solid $yellow-primary-lightest;
                }
                &.yellow-secondary {
                    border-top: 60px solid $yellow-secondary;
                }
                 &.yellow-secondary-tint1 {
                    border-top: 60px solid $yellow-secondary-mid;
                }
                 &.yellow-secondary-tint2 {
                    border-top: 60px solid $yellow-secondary-light;
                }
                 &.yellow-secondary-tint3 {
                    border-top: 60px solid $yellow-secondary-lightest;
                }
                 &.teal-primary {
                    border-top: 60px solid $teal-dark;
                }
                 &.teal-tint1 {
                    border-top: 60px solid $teal-mid;
                }
                 &.teal-tint2 {
                    border-top: 60px solid $teal-light;
                }
                 &.teal-tint3 {
                    border-top: 60px solid $teal-lightest;
                }
                &.blue-primary {
                    border-top: 60px solid $blue-dark;
                }
                 &.blue-tint1 {
                    border-top: 60px solid $blue-mid;
                }
                 &.blue-tint2 {
                    border-top: 60px solid $blue-light;
                }
                 &.blue-tint3 {
                    border-top: 60px solid $blue-lightest;
                }
                &.red-primary {
                    border-top: 60px solid $red-dark;
                }
                 &.red-tint1 {
                    border-top: 60px solid $red-mid;
                }
                 &.red-tint2 {
                    border-top: 60px solid $red-light;
                }
                 &.red-tint3 {
                    border-top: 60px solid $red-lightest;
                }
                &.darkblue-primary {
                    border-top: 60px solid $darkblue-dark;
                }
                 &.darkblue-tint1 {
                    border-top: 60px solid $darkblue-mid;
                }
                 &.darkblue-tint2 {
                    border-top: 60px solid $darkblue-light;
                }
                 &.darkblue-tint3 {
                    border-top: 60px solid $darkblue-lightest;
                }
                &.darkpurple-primary {
                    border-top: 60px solid $darkpurple-dark;
                }
                 &.darkpurple-tint1 {
                    border-top: 60px solid $darkpurple-mid;
                }
                 &.darkpurple-tint2 {
                    border-top: 60px solid $darkpurple-light;
                }
                 &.darkpurple-tint3 {
                    border-top: 60px solid $darkpurple-lightest;
                }
                &.purple-primary {
                    border-top: 60px solid $purple-dark;
                }
                &.purple-tint1 {
                    border-top: 60px solid $purple-mid;
                }
                &.purple-tint2 {
                    border-top: 60px solid $purple-light;
                }
                &.purple-tint3 {
                    border-top: 60px solid $purple-lightest;
                }
                &.black {
                    border-top: 60px solid $black;
                }
                &.almost-black {
                    border-top: 60px solid $black-light;
                }
                &.darkest-grey {
                    border-top: 60px solid $grey-darkest;
                }
                &.darker-grey {
                    border-top: 60px solid $grey-darker;
                }
                &.dark-grey {
                    border-top: 60px solid $grey-dark;
                }
                &.grey-back {
                    border-top: 60px solid $grey;
                }
                &.light-grey {
                    border-top: 60px solid $grey-light;
                }
                &.lighter-grey {
                    border-top: 60px solid $grey-lighter;
                }
                &.lightest-grey {
                    border-top: 60px solid $grey-lightest;
                }
                &.white {
                    border-top: 60px solid $white;
                }
                &.grey-headers {
                    border-top: 60px solid $grey-headers;
                }
                &.positive-primary {
                    border-top: 60px solid $green-positive-dark;
                }
                &.positive-interactive {
                    border-top: 60px solid $green-positive-mid;
                }
                &.positive-tint1 {
                    border-top: 60px solid $green-positive-light;
                }
                &.positive-tint2 {
                    border-top: 60px solid $green-positive-lightest;
                }
                &.negative-primary {
                    border-top: 60px solid $red-negative-dark;
                }
                &.negative-interactive {
                    border-top: 60px solid $red-negative-mid;
                }
                &.negative-tint1 {
                    border-top: 60px solid $red-negative-light;
                }
                &.negative-tint2 {
                    border-top: 60px solid $red-negative-lightest;
                }
                
                
            }
        }
        .design-system-card-links {
            background: $white;
        }
    }
    
}


.responsive-img {
    max-width:100%;
    width:100%;
    margin-bottom: 24px;
    border: solid 1px $grey-light;
    
    &.tablet {
        max-width: 500px;
    }
    &.mobile {
        max-width: 250px;
    }
    
}

.grey-background {
    background: $grey-lighter;
}
