// COLOUR VARIABLES

// Neutrals
$white: #ffffff;
$grey-lightest: #F5F5F5;
$grey-lighter: #EBEBEB;
$grey-light: #D8D8D8;
$grey: #C7C7C7;
$grey-dark: #8E8E8E;
$grey-darker: #666666;
$grey-darkest: #4C4C4C;
$black-light: #333333;
$black: #000000;

// BGA Blues
$blue-primary: #254F90;
$blue-primary-mid: #4569A0;
$blue-primary-light: #B3C2D8;
$blue-primary-lightest: #EFF4FB;

$blue-secondary: #212A4C;
$blue-active: #18335C;
$blue-active-darkest: #0D1F3F;
$blue-hyperlink: #748FB8;

// BGA Yellows
$yellow-primary: #E8BD4F;
$yellow-primary-mid: #EDCA72;
$yellow-primary-light: #F3DEA7;
$yellow-primary-lightest: #FCF4E3;

$yellow-secondary: #C18100;
$yellow-secondary-mid: #E1AA21;
$yellow-secondary-light: #F5C550;
$yellow-secondary-lightest: #FFD964;

// Other colours
$teal-dark: #218080;
$teal-mid: #59A0A0;
$teal-light: #C7DFDF;
$teal-lightest: #DEECEC;

$teal-sab-darker: #186464; //NOT part of the design system
$teal-sab-darkest: #0F4343; //NOT part of the design system

$blue-dark: #2F70BF;
$blue-mid: #6394CF;
$blue-light: #96B7DF;
$blue-lightest: #E0EAF6;

$darkblue-dark: #293F5C;
$darkblue-mid: #495C74;
$darkblue-light: #AAB2C3;
$darkblue-lightest: #DFE2EE;

$darkpurple-dark: #5B43D0;
$darkpurple-mid: #735FD7;
$darkpurple-light: #BDB4EC;
$darkpurple-lightest: #F1EEFA;

$purple-dark: #A42079;
$purple-mid: #B64D94;
$purple-light:#DFB1D0;
$purple-lightest: #FFECF3;

$red-dark: #CC3C1C;
$red-mid: #D96D55;
$red-light: #F2CEC6;
$red-lightest: #F8E2DD;

$red-negative-dark: #D2201E;
$red-negative-mid: #E75755;
$red-negative-light: #F5B5B5;
$red-negative-lightest: #FCE9E9;

$green-positive-dark: #297E28;
$green-positive-mid: #219520;
$green-positive-light: #A6D5A6;
$green-positive-lightest: #E8F4E8;


// FONTS
$font-family: 'Open Sans', sans-serif;
$font-regular: 400;
$font-semibold: 600;

@mixin font-format($font, $font-weight, $font-style) {
    font-family: $font;
    font-weight: $font-weight;
    font-style: $font-style;
}