---
layout: content
title: Accordion
breadcrumb1: Components
url1: topic-components.html
breadcrumb2:
url2:
longdesc: Hide and reveal less important content on the page.

---
<div class="main-section">

        <div class="c-wrapper c-wrapper-bg-transparent container-fluid">
            <div class="row">
                <div class="anchor-col col-12 col-sm-4 col-md-3 col-lg-2 col-xl-3">
                    <div>
                        <div>
                            <div class="anchor-menu" >
                                <div class="sticky-container">
                                    <div>
                                        <h5 class="sticky-list-head">On this page</h5> 
                                        <ul>
                                            <li><a href="" aria-label="Visual design">Visual design</a></li>
                                            <li><a href="" aria-label="Guidelines for use">Guidelines for use</a></li>
                                            <li><a href="" aria-label="Layouts">Layouts</a></li>
                                             <li><a href="" aria-label="Examples and assets">Examples and assets</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
<div class="col-12 col-sm-8 col-md-9 col-lg-9 col-xl-9">
               

<!-- Visual design -->
<div class="anchor-section" name="visual-design"><a href="" id="visual-design" aria-label="visual design"></a>

            <div class="c-padding-top">
                <div class="body-copy">
                    <div>
                        <div class="body-copy-headline">
                            <h2>Visual design</h2>
                        </div>
                        <hr />
                    </div>
                    <div class="body-copy-content">


                        <div class="design-system-card component">

                            <div class="responsive-toggle-container">
                                <p class="toggle-name">Design view: <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider"></span>
                                        <span class="switch-text-mobile"></span>
                                        <span class="switch-text-desktop"></span>
                                    </label></p>

                                <div class="mobile-only">
                                    <h5>Mobile design</h5>
                                    <p>Desktop designs can be viewed on screens wider than 650px.</p>
                                </div>

                            </div>


                            <div class="design-system-card-content">

                                <div class="example-wrapper white-back">
                                    <div class="accordion">
                                        <div class="example accordion-container">


                                            <div role="tablist" class=" accordion-group anchor-section-full-width">
                                                <div class="accordion-group-toggle">
                                                    <div role="button" tabindex="0" aria-label="button Open all items in accordion" class="accordion-group-toggle-content">
                                                        <h5>Open all</h5>
                                                        <div class="BgaIcon iconAnimateWrapper "><svg width="16" height="16">
                                                                <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                                                            </svg></div><span class="sr-only">button toggle all accordions</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="accordion-item">
                                                        <div class="accordion-item-tile" style="border-bottom:0.0625rem solid #ebebeb;background-color:#ffffff" role="tab" aria-expanded="false" tabindex="0">
                                                            <div class="accordion-item-tile-inner">
                                                                <div class="accordion-item-tile-inner-title">
                                                                    <h5 class="">Accordion item 1 title</h5>
                                                                </div><button role="none" tabindex="-1" class="float-button">
                                                                    <div tabindex="-1" class="float-button-content">
                                                                        <div class="BgaIcon  iconAnimateWrapper "><svg width="16" height="16">
                                                                                <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                                                                            </svg></div><span class="sr-only">Button toggle current accordion</span>
                                                                    </div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item-content">
                                                            <div class="body-copy" aria-label="accordion content">
                                                                <ul>
                                                                    <li>Accordions can contain lists.</li>
                                                                    <li>Complete with links like other body copy.</li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                        <div class="accordion-item-banner" style="height: 0px; transition: height 0.2s ease 0s;"></div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="accordion-item">
                                                        <div class="accordion-item-tile" style="border-bottom:0.0625rem solid #ebebeb;background-color:#ffffff" role="tab" aria-expanded="false" tabindex="0">
                                                            <div class="accordion-item-tile-inner">
                                                                <div class="accordion-item-tile-inner-title">
                                                                    <h5 class="">Accordion item 2 title</h5>
                                                                </div><button role="none" tabindex="-1" class="float-button">
                                                                    <div tabindex="-1" class="float-button-content">
                                                                        <div class="BgaIcon  iconAnimateWrapper "><svg width="16" height="16">
                                                                                <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                                                                            </svg></div><span class="sr-only">Button toggle current accordion</span>
                                                                    </div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item-content">

                                                            <div class="body-copy" aria-label="accordion content">
                                                                <p>Accordions can be used to hide less important text on the page. The user can choose to see it only if they are interested in it.</p>
                                                            </div>

                                                        </div>
                                                        <div class="accordion-item-banner" style="height: 0px; transition: height 0.2s ease 0s;"></div>
                                                    </div>
                                                </div>


                                            </div>


                                        </div>
                                    </div>

                                </div>

                                <div>

                                    <div class="element-design component closed">
                                        <div class="content-wrapper">
                                            <p>CSS styles</p>
                                        </div>
                                        <button role="none" tabindex="-1" class="float-button">
                                            <div tabindex="-1" class="float-button-content">
                                                <div class="BgaIcon iconAnimateWrapper "><svg width="16" height="16">
                                                        <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                                                    </svg></div><span class="sr-only">Button toggle current accordion</span>
                                            </div>
                                        </button>
                                    </div>

                                    <div class="element-code">
                                        <h4>Accordion - closed state</h4>
                                        <h5>Accordion item title</h5>
                                        <code>
                                            <pre>
h5 {
    color: #666666;
    font-family: OpenSans-Semibold;
    font-size: 16px;
    line-height: 28px;
}
h5:hover {
    color: #000000;
    box-shadow: inset 0 -2.08px 0 #666666;
}

</pre>
                                        </code>
                                        <h5>Accordion item button</h5>
                                        <code>
                                            <pre>
.button {    
    color: #000000;
    width: 48px;
    height: 48px;
    background-color: #F5C550;
    border-radius: 50px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.button:hover {
    background-color: #FFD964;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}
.button:active {
    background-color: #E1AA21;
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.3);
}

</pre>
                                        </code>

                                        <h5>Accordion item container</h5>
                                        <code>
                                            <pre>
.item-container {
    background-color: #FFFFFF;
    border-bottom: 0.0625rem solid #EBEBEB;
    padding: 32px;
}
.item-container:hover {
    border-bottom: solid 4px #FFD964;
}

</pre>
                                        </code>

                                        <h4>Accordion - open state</h4>
                                        <h5>Accordion item title</h5>
                                        <code>
                                            <pre>
h5 {
    color: #000000;
    font-family: OpenSans-Semibold;
    font-size: 16px;
    line-height: 28px;
    box-shadow: inset 0 -2.08px 0 #666666;
}

</pre>
                                        </code>

                                        <h5>Accordion item button</h5>
                                        <code>
                                            <pre>
.button {    
    color: #000000;
    width: 48px;
    height: 48px;
    background-color: #F5C550;
    border-radius: 50px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.button:hover {
    background-color: #FFD964;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}
.button:active {
    background-color: #E1AA21;
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.3);
}

</pre>
                                        </code>

                                        <h5>Accordion item container</h5>
                                        <code>
                                            <pre>
.item-container {
    background-color: #EBEBEB;
    border-bottom: solid 4px #FFD964;
    padding: 32px;
}

</pre>
                                        </code>

                                        <h5>Accordion item content</h5>

                                        <p>Accordion content is styled as standard body content.
                                            Refer to the <a href={{ "foundations/typography.html" | relative_url }}>typography guidelines</a>.</p>



                                    </div>

                                </div>

                            </div>

                        </div>


                    </div>


                </div>

            </div>

</div>

                        
                        
<!-- USAGE -->                      
<div class="anchor-section"  name="guidelines-for-use"><a href="" id="guidelines-for-use" aria-label="guidelines for use"></a>

            <div class="body-copy">
                <div>
                    
                    <h2>Guidelines for use</h2>
                    
                    <hr />
                </div>
                <div class="body-copy-content">

                   <h3>Purpose:</h3>
                   <p>An accordion is an expandable section with nested content. This component provides content details when opened by users on a content page. It can help to streamline the user experience by keeping content relevant to the user.</p>
                   <h3>When to use this component:</h3>
                   <ul>
                       <li>For optional content (e.g. frequently asked questions at the end of a transaction page).</li>
                       <li>For directory type content (e.g. state and territory links).</li>
                       <li>To streamline a transaction process.</li>
                   </ul>
                   <h3>Content rules:</h3>
                   <ul>
                       <li>Select &ldquo;open all&rdquo; accordion option if you have 2 or more accordion items.</li>
                       <li>Avoid single accordion items, although they are sometimes used on grant application pages to streamline the application process.</li>
                       <li>Avoid using bold in accordion body content.</li>
                   </ul>

                </div>


            </div>

</div>

                            
<!-- LAYOUTS -->                               
<div class="anchor-section"  name="layouts"><a href="" id="layouts" aria-label="layouts"></a>
<div >
<div>


           
                <div class="body-copy">
                    <div>
                        
                            <h2>Layouts</h2>
                
                        <hr />
                    </div>
                    <div class="body-copy-content">


                      <h3>Page layouts</h3>
                        <p>Accordion components should only be used in <a href={{"foundations/page-layouts.html" | relative_url }}>two-third width pages</a>.</p> 
                        
                        <h3>Component layout options</h3>
                        <h4>Full width layout</h4>
                        <div class="layouts">

                            <p><strong>Desktop, Tablet &amp; Mobile:</strong> One component in a row.</p>

                            <img class="responsive-img desktop" src={{"assets/layout-desktop-full-width.svg" | relative_url}} alt="">

                        </div>

                    </div>


                </div>


</div>
</div>
</div>

                        

                        <!-- EXAMPLES & ASSETS -->                               
<div class="anchor-section" name="examples-and-assets"><a href="" id="examples-and-assets"  aria-label="Layouts"></a>
            
                <div class="body-copy">
                    <div>
                        
                            <h2>Examples and assets</h2>
                   
                        <hr />
                    </div>
                    <div class="body-copy-content">
 
                         
            <div class="adobe-link vertical-list">

                <div>
                    <a class="action-card-anchor" target="blank" href="https://xd.adobe.com/spec/5d0b533a-2924-4fc3-4417-b26a6309bf1e-2b3a/screen/0971fff1-d4c0-4761-9a31-66e686b6fabb/Accordion">
                            <div class="action-card-button">
                                <div class="action-card-content">
                                    <p class="vertical-list-fileName">View the accordion design and assets in Adobe XD.</p>
                                    <div class="action-card-info">
                                        <div class="BgaIcon  circleIcon-inner"><svg viewBox="0 0 16 16"><path d="M14 3.414L7.707 9.707 6.293 8.293 12.586 2H10V0h6v6h-2V3.414zM14 14V9h2v7H0V0h7v2H2v12h12z" fill="#4267b2"></path></svg></div>
                                        <div class="site-name"><span>ADOBE XD</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
            </div>
                        
            <div class="example-link vertical-list">

                <div>
                    <a class="action-card-anchor" target="blank" href="https://www.business.gov.au/planning/new-businesses/preparing-yourself-for-business">
                            <div class="action-card-button">
                                <div class="action-card-content">
                                    <p class="vertical-list-fileName">View the accordion component on business.gov.au</p>
                                    <div class="action-card-info">
                                        <div class="BgaIcon  circleIcon-inner"><svg viewBox="0 0 16 16"><path d="M14 3.414L7.707 9.707 6.293 8.293 12.586 2H10V0h6v6h-2V3.414zM14 14V9h2v7H0V0h7v2H2v12h12z" fill="#4267b2"></path></svg></div>
                                        <div class="site-name"><span>BUSINESS.GOV.AU</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
            </div>


                    </div>


                </div>
         
</div>




                        </div>
        
            </div>

        </div>

</div>

