---
layout: content
title: Advisor profile
breadcrumb1: Components
url1: topic-components.html
breadcrumb2:
url2:
longdesc: Display an individual's profile on the page.

---
<div class="main-section" >
    <div>
        <div class="c-wrapper c-wrapper-bg-transparent padding-none container-fluid" >
            <div class="row">
                <div class="twoCol39-left col-12 col-sm-2">
                    <div >
                        <div>
                            <div class="anchor-menu" >
                                <div class="sticky-container">
                                    <div>
                                        <h5 class="sticky-list-head">On this page</h5>
                                        <ul>
                                            <li><a href="" aria-label="Visual design">Visual design</a></li>
                                            <li><a href="" aria-label="Guidelines for use">Guidelines for use</a></li>
                                            <li><a href="" aria-label="Layouts">Layouts</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twoCol39-right col-sm-10">
                    <div >
                        <div>

<!-- OVERVIEW -->
<div class="anchor-section"  name="visual-design"><a href="" id="visual-design" aria-label="visual design"></a>
<div>
<div >
<div>
<div class="c-wrapper c-wrapper-bg-transparent container-fluid" >
<div class="row">
    <div class="c-padding-top c-padding-bottom col-sm-10 col-md-10">
        <div class="body-copy">
            <div>
                <div class="body-copy-headline col-12">
                    <h2>Overview</h2>
                </div>
                <hr />
            </div>
            <div class="body-copy-content">
                

                <!-- Advisor Profile -->
                <div class="design-system-card component">
                    <div class="design-system-card-content">

                        <div class="example-wrapper white-back">
                            <h3>Advisor profile</h3>
                            <div class="advisor-profile contact">
                                <div class="example cta-container advisor-container">

                                    <div class="advisor-profile-container row">
                                        <div class="advisor-card-text col-md-12 col-lg-8">
                                            <h4 class="advisor-card-title">Karen Green</h4>
                                            <div class="advisor-intro row">
                                                <div class="advisor-card-intro-title col-sm-12 col-md-3">Partner:</div>
                                                <div class="advisor-card-intro-detail col-sm-12 col-md-9">XYZ Private</div>
                                            </div>
                                            <div class="advisor-intro row">
                                                <div class="advisor-card-intro-title col-sm-12 col-md-3">Location:</div>
                                                <div class="advisor-card-intro-detail col-sm-12 col-md-9">Hobart</div>
                                            </div>
                                            <div class="advisor-intro row">
                                                <div class="advisor-card-intro-title col-sm-12 col-md-3">Email:</div>
                                                <div class="advisor-card-intro-detail col-sm-12 col-md-9"><a href="">karen@xyz.com.au</a></div>
                                            </div>
                                            <div class="advisor-intro row">
                                                <div class="advisor-card-intro-title col-sm-12 col-md-3">Phone:</div>
                                                <div class="advisor-card-intro-detail col-sm-12 col-md-9"><a href="tel:0418 832 220">0400 000 000</a></div>
                                            </div>
                                        </div>
                                        <div class="advisor-card-image col-md-12 col-lg-4"><img src={{ "assets/image-advisor.jpg" | relative_url }} alt="" class="advisor-image responsive-img-no-margin"></div>
                                    </div>
                                    
                                    <div class="advisor-card-content">
                                       
                                        <div class="advisor-card-content-detail col-lg-12">
                                            <div>
                                                <p>A few short paragraphs outlining the background of the advisor.</p>
                                                <p>Karen has a Master of Business and Technology (MBA Technology) degree. She sits on the XYZ Board of the Centre for Excellence at the Victorian Business School.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div>

                            <div class="element-design component closed">
                            <div class="content-wrapper">
                                <p>CSS styles</p>
                            </div>
                            <button role="none" tabindex="-1" class="float-button">
                                <div tabindex="-1" class="float-button-content">
                                    <div class="BgaIcon iconAnimateWrapper "><svg width="16" height="16">
                                            <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                                        </svg></div><span class="sr-only">Button toggle current accordion</span>
                                </div>
                            </button>
                        </div>
                            
                           
<div class="element-code">

<h5>Advisor name</h5>
<code>
<pre>
h4 {
    font-family: OpenSans-Semibold;
    font-size: 24px;
    color: #333333;
    letter-spacing: 0;
    line-height: 38px;
}
</pre>
</code>
    
<h5>Paragraph</h5>
<code>
<pre>
p {
    font-family: OpenSans;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.2px;
    line-height: 28px;
}
</pre>
</code>
    
<h5>List</h5>
<code>
<pre>
li  {
    font-family: OpenSans;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    line-height: 28px;
}
bullet {
    color: #c18100;
    height: 8px;
    width: 8px;
}
</pre>
</code>        
    
<h5>Container</h5>
<code>
<pre>
.container {
    background-color: #EBEBEB;
    border-top: 4px solid #D8D8D8;
    padding: 32px 32px 48px 32px;
}
</pre>
</code>

</div>

                    

                        
                        
                        </div>

                </div>

            </div>
               
          
            <div class="adobe-link vertical-list c-padding-top c-padding-bottom col-sm-10 col-md-10">

                <div>
                    <a class="action-card-anchor" target="blank" href="">
                            <div class="action-card-button">
                                <div class="action-card-content">
                                    <p class="vertical-list-fileName">View design and assets in Adobe XD.</p>
                                    <div class="action-card-info">
                                        <div class="BgaIcon  circleIcon-inner"><svg viewBox="0 0 16 16">
                                                <path d="M11.173 10.07H0v-3h11.171L7.02 2.923 8.929 1 16 8.57l-7.071 7.573-1.91-1.909z"></path>
                                            </svg></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
            </div>



        </div>


    </div>

</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
                        
                        
<!-- USAGE -->                      
<div class="anchor-section"  name="guidelines-for-use"><a href="" id="guidelines-for-use" aria-label="guidelines for use"></a>
<div >
<div >
<div>
<div class="c-wrapper c-wrapper-bg-transparent container-fluid" >
    <div class="row">
        <div class="c-padding-top c-padding-bottom col-sm-10 col-md-10">
            <div class="body-copy">
                <div>
                    <div class="body-copy-headline col-12">
                        <h2>Guidelines for use</h2>
                    </div>
                    <hr />
                </div>
                <div class="body-copy-content">

                    <h3>Purpose</h3>
                    <p>Display as a list of multpiple profiles within the grant Advisors section.</p>
                    
                    <h3>When to use these components</h3>

                    <p>Coming soon.</p>



                </div>


            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>
</div>

                            
<!-- LAYOUTS -->                               
<div class="anchor-section"  name="layouts"><a href="" id="layouts" aria-label="layouts"></a>
<div >
<div >
<div>
    <div class="c-wrapper c-wrapper-bg-transparent container-fluid" >
        <div class="row">
            <div class="c-padding-top c-padding-bottom col-sm-10 col-md-10">
                <div class="body-copy">
                    <div>
                        <div class="body-copy-headline col-12">
                            <h2>Layouts</h2>
                        </div>
                        <hr />
                    </div>
                    
                    <div class="body-copy-content">


                      <h3>Page width</h3>
                        <p>Advisor profiles are used in two-third width pages.</p> 

                        <h3>Full width layout</h3>
                        <div class="layouts">

                            <p><strong>Desktop, Tablet &amp; Mobile:</strong> One component in a row.</p>

                            <img class="responsive-img desktop" src={{"assets/layout-desktop-full-width.svg" | relative_url}} alt="">

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>




                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>
