---
layout: content
title: Call to action
breadcrumb1: Components
url1: topic-components.html
breadcrumb2:
url2:
longdesc: Promote a high-value call to action in an information page.

---
<div class="main-section">
    <div>
        <div class="c-wrapper c-wrapper-bg-transparent padding-none container-fluid" >
            <div class="row">
                <div class="twoCol39-left col-12 col-sm-2">
                    <div>
                        <div>
                            <div class="anchor-menu" >
                                <div class="sticky-container">
                                    <div>
                                        <h5 class="sticky-list-head">On this page</h5>
                                        <ul>
                                            <li><a href="" aria-label="Visual design">Visual design</a></li>
                                            <li><a href="" aria-label="Guidelines for use">Guidelines for use</a></li>
                                            <li><a href="" aria-label="Layouts">Layouts</a></li>
                                            <li><a href="" aria-label="Examples and assets">Examples and assets</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twoCol39-right col-sm-10">
                    <div>
                        <div>

<!-- OVERVIEW -->
<div class="anchor-section"  name="visual-design"><a href="" id="visual-design" aria-label="visual design"></a>
<div>
<div>
<div>
<div class="c-wrapper c-wrapper-bg-transparent container-fluid" >
<div class="row">
    <div class="c-padding-top col-sm-12 col-md-12 col-lg-10">
        <div class="body-copy">
            <div>
                <div class="body-copy-headline col-12">
                    <h2>Visual design</h2>
                </div>
                <hr />
            </div>
            <div class="body-copy-content">

             <h3>Standard call to action</h3>
                <div class="design-system-card component">
                    
                <div class="responsive-toggle-container">
                    <p class="toggle-name">Design view: <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                        <span class="switch-text-mobile"></span>
                        <span class="switch-text-desktop"></span>
                    </label></p>
                    
                    <div class="mobile-only"><h5>Mobile design</h5>
                        <p>Desktop designs can be viewed on screens wider than 650px.</p>
                    </div>
                    
                </div>
                    
                    <div class="design-system-card-content">

                        <div class="example-wrapper white-back">
                        
                            <div class="call-to-action">
                                <div class="example cta-container">

                                    <div class="cta-content-inner">
                                        <h2>Standard call to action</h2>
                                        <p>Promote high-value actions in an information page.</p>
                                        <ul class="body-copy-list-tick">
                                            <li>This component can include bullet points</li>
                                            <li>which can be very handy.</li>   
                                        </ul>
                                    </div>
                                    <div class="cta-button-wrapper cta-inline-button-wrapper">
                                        <div><a href="" class="cta-button"><span>CTA button</span>
                                                
                                            </a></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                                                <div class="element-design component closed">
                            <div class="content-wrapper">
                                <p>CSS styles</p>
                            </div>
                            <button role="none" tabindex="-1" class="float-button">
                                <div tabindex="-1" class="float-button-content">
                                    <div class="BgaIcon iconAnimateWrapper "><svg width="16" height="16">
                                            <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                                        </svg></div><span class="sr-only">Button toggle current accordion</span>
                                </div>
                            </button>

                        </div>
                            
<div class="element-code">
<h4>Desktop</h4>
<h5>Heading</h5>
<code>
<pre>
h2 {
    color: #333333;
    font-family: OpenSans-Semibold;
    font-size: 32px;
    line-height: 40px;
}

</pre>
</code>
    
<h5>Paragraph</h5>
<code>
<pre>
p {
    color: #333333;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 32px;
}

</pre>
</code>
    
<h5>List</h5>
<code>
<pre>
li  {
    color: #333333;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 32px;
}
bullet {
    color: #C18100;
    height: 8px;
    width: 8px;
}

</pre>
</code>
    
<h5>Call to action button</h5>
<code>
<pre>
.primary-button {
    color: #FFFFFF;
    background-color: #254F90;
    box-shadow: 0px 2px 4px #0000001A;
    border: 2px solid #254F90;
    border-radius: 6px;
    opacity: 1;
    padding: 8px 32px;
    text-align: center;
    letter-spacing: 0;
}
.primary-button:hover {
    background: #254F90 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #0000004D;
}
.primary-button:active {
    background: #18335C 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #0000004D;
}

</pre>
</code>         
    
<h5>Container</h5>
<code>
<pre>
.container {
    background-color: #EBEBEB;
    border-top: 4px solid #D8D8D8;
    padding: 32px 32px 48px 32px;
}

</pre>
</code>
    
<h4>Mobile</h4>
<code>
<pre>
h2 {
    font-size: 24px;
    line-height: 32px;
}

</pre>
</code>

</div>

                    </div>

                </div>

           
                
                
                               
                <!-- Download call to action -->
                <h3>Download call to action</h3>
                <div class="design-system-card component">
                    
                <div class="responsive-toggle-container">
                    <p class="toggle-name">Design view: <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                        <span class="switch-text-mobile"></span>
                        <span class="switch-text-desktop"></span>
                    </label></p>
                    
                    <div class="mobile-only"><h5>Mobile design</h5>
                        <p>Desktop designs can be viewed on screens wider than 650px.</p>
                    </div>
                    
                </div>
                    
                    <div class="design-system-card-content">
                        
                       
                        <div class="example-wrapper white-back">
                           
                            <div class="call-to-action download">
                                <div class="example cta-container">

                                    <div class="cta-content-inner">
                                        <h2>Download call to action</h2>
                                        <p>Promote high-value downloading action.</p>
                                        <ul>
                                            <li>This component can include bullet points</li>
                                            <li>which can be very handy.</li>
                                            
                                        </ul>
                                    </div>
                                    
                                    <button class="action-card-button">
                                        <div class="action-card-content">
                                            <p class="action-card-fileName">Title of the download file</p>
                                            <div class="action-card-info">
                                                <div class="BgaIcon  circleIcon"><svg viewBox="0 0 16 16">
                                                        <circle cx="8" cy="8" r="8"></circle>
                                                    </svg></div>
                                                <div class="BgaIcon  circleIcon-inner"><svg viewBox="0 0 16 16">
                                                        <path d="M9 8l2.354-2.354 1.414 1.415-4.707 4.707L3.354 7.06l1.414-1.415L7 7.88V0h2v8zm5 6V9h2v7H0V9h2v5h12z"></path>
                                                    </svg></div><span>
                                                    <!-- -->docx
                                                    <!-- --> ·
                                                    <!-- -->0.09 MB
                                                    <!-- --> </span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>

                        </div>

                                                <div class="element-design component closed">
                            <div class="content-wrapper">
                                <p>CSS styles</p>
                            </div>
                            <button role="none" tabindex="-1" class="float-button">
                                <div tabindex="-1" class="float-button-content">
                                    <div class="BgaIcon iconAnimateWrapper "><svg width="16" height="16">
                                            <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                                        </svg></div><span class="sr-only">Button toggle current accordion</span>
                                </div>
                            </button>

                        </div>
                            
                            
<div class="element-code">
<h4>Desktop</h4>
<h5>Heading</h5>
<code>
<pre>
h2 {
    color: #333333;
    font-family: OpenSans-Semibold;
    font-size: 32px;
    line-height: 40px;
}

</pre>
</code>
    
<h5>Paragraph</h5>
<code>
<pre>
p {
    color: #333333;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 32px;
}

</pre>
</code>
    
<h5>List</h5>
<code>
<pre>
li  {
    color: #333333;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 32px;
}
bullet {
    color: #C18100;
}

</pre>
</code>
    
<h5>Download link container</h5>                             
<code>
<pre>
.link-container {
    background: #FFFFFF;
    border-top: 4px solid #B3C2D8;
    padding: 24px;
}

</pre>
</code>
    
<h5>Download description</h5>
<code>
<pre>
p.description {
    color: #333333;
    font-family: OpenSans-Semibold;
    font-size: 16px;
    line-height: 25px;
}
p.description:hover {
    color: #254F90;
}

</pre>
</code>
    
<h5>File type text</h5>
<code>
<pre>
p.file-type {
    color: #666666;
    font-family: OpenSans;
    font-size: 12px;
    line-height: 24px;
}

</pre>
</code>
<h5>File type icon</h5>
<code>
<pre>
.icon {    
    color: #254F90;
    height: 16px;
    width: 16px;
}
.icon:hover {
    color: #254F90;
    height: 32px;
    width: 32px;
}

</pre>
</code>
    
<h5>Call to action container</h5>
<code>
<pre>
.cta-container {
    background-color: #EBEBEB;
    border-top: 4px solid #D8D8D8;
    padding: 32px 32px 48px 32px;
}

</pre>
</code>
    
<h4>Mobile</h4>
<code>
<pre>
h2 {
    font-size: 24px;
    line-height: 32px;
}

</pre>
</code>

</div>

 

                    </div>

                </div>

            </div>
                


        </div>


    </div>

</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

                        
                        
<!-- USAGE -->                      
<div class="anchor-section"  name="guidelines-for-use"><a href="" id="guidelines-for-use" arial-label="guidelines for use"></a>
<div >
<div>
<div>
<div class="c-wrapper c-wrapper-bg-transparent container-fluid" >
    <div class="row">
        <div class=" col-sm-12 col-md-12 col-lg-10">
            <div class="body-copy">
                <div>
                    
                        <h2>Guidelines for use</h2>
                    
                    <hr />
                </div>
                <div class="body-copy-content">

                    <h3>Purpose</h3>
                    <h4>Standard call to action</h4>
                    
                    <p>Used as a single main action on a page. Typically used on internal program pages and transaction pages and includes a summary of the next steps and an optional list of prerequisite actions.</p>

                    <h3>When to use these components</h3>

                    <h4>Standard call to action</h4>
                    <p>The Standard CTA should be used when the user must complete an important task (level 1 priority task).
                    <ul>
                        <li>only one per page</li>
                        <li>description text must be included so the user knows what they need to do, can be bullet points, ticks or a sentence</li>
                        <li>button should read as an action, e.g. “Register now, Read the guidelines, Apply now”</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>
</div>

                            
<!-- LAYOUTS -->                               
<div class="anchor-section"  name="layouts"><a href="" id="layouts" aria-label="layouts"></a>
<div >
<div>
<div>
    <div class="c-wrapper c-wrapper-bg-transparent container-fluid" >
        <div class="row">
            <div class=" col-sm-12 col-md-12 col-lg-10">
                <div class="body-copy">
                    <div>

                            <h2>Layouts</h2>
                    
                        <hr />
                    </div>
                    <div class="body-copy-content">


                      <h3>Page width</h3>
                        <p>Call to action components can be used in 2/3rd width pages.</p> 

                        <h3>Full width layout</h3>
                        <div class="layouts">

                            <p><strong>Desktop, Tablet &amp; Mobile:</strong> One component in a row.</p>

                            <img class="responsive-img desktop" src={{"assets/layout-desktop-single-right.svg" | relative_url}} alt="">

                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
                    
                
                                            
<!-- EXAMPLES & ASSETS -->                               
<div class="anchor-section" name="examples-and-assets"><a href="" id="examples-and-assets"  aria-label="Layouts"></a>
<div >
<div>
<div >
    <div class="c-wrapper c-wrapper-bg-transparent container-fluid">
        <div class="row">
            <div class=" col-sm-12 col-md-12 col-lg-10">
                <div class="body-copy">
                    <div>
                        
                            <h2>Examples and assets</h2>
                   
                        <hr />
                    </div>
                    <div class="body-copy-content">
 
                         
            <div class="adobe-link vertical-list col-sm-12 col-md-12 col-lg-10">

                <div>
                    <a class="action-card-anchor" target="blank" href="https://xd.adobe.com/spec/5d0b533a-2924-4fc3-4417-b26a6309bf1e-2b3a/screen/ea04eda8-5999-4a1c-9de5-89980443fe02/Call-to-action">
                            <div class="action-card-button">
                                <div class="action-card-content">
                                    <p class="vertical-list-fileName">View call to action design and assets in Adobe XD.</p>
                                    <div class="action-card-info">
                                        <div class="BgaIcon  circleIcon-inner"><svg viewBox="0 0 16 16"><path d="M14 3.414L7.707 9.707 6.293 8.293 12.586 2H10V0h6v6h-2V3.414zM14 14V9h2v7H0V0h7v2H2v12h12z" fill="#4267b2"></path></svg></div>
                                        <div class="site-name"><span>ADOBE XD</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
            </div>
                        
            <div class="example-link vertical-list col-sm-12 col-md-12 col-lg-10">

                <div>
                    <a class="action-card-anchor" target="blank" href="https://www.business.gov.au/Registrations/Register-your-business-name">
                            <div class="action-card-button">
                                <div class="action-card-content">
                                    <p class="vertical-list-fileName">View the standard call to action component on business.gov.au</p>
                                    <div class="action-card-info">
                                        <div class="BgaIcon  circleIcon-inner"><svg viewBox="0 0 16 16"><path d="M14 3.414L7.707 9.707 6.293 8.293 12.586 2H10V0h6v6h-2V3.414zM14 14V9h2v7H0V0h7v2H2v12h12z" fill="#4267b2"></path></svg></div>
                                        <div class="site-name"><span>BUSINESS.GOV.AU</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
            </div>

                        
            <div class="example-link vertical-list col-sm-12 col-md-12 col-lg-10">

                <div>
                    <a class="action-card-anchor" target="blank" href="https://www.business.gov.au/Planning/Business-plans/How-to-write-your-marketing-plan">
                            <div class="action-card-button">
                                <div class="action-card-content">
                                    <p class="vertical-list-fileName">View the download call to action component on business.gov.au</p>
                                    <div class="action-card-info">
                                        <div class="BgaIcon  circleIcon-inner"><svg viewBox="0 0 16 16"><path d="M14 3.414L7.707 9.707 6.293 8.293 12.586 2H10V0h6v6h-2V3.414zM14 14V9h2v7H0V0h7v2H2v12h12z" fill="#4267b2"></path></svg></div>
                                        <div class="site-name"><span>BUSINESS.GOV.AU</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
            </div>




                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>

                        





                        </div>
                    </div>

                </div>
            </div>
        </div>

