---
layout: content
title: Feature image pathway
breadcrumb1: Components
url1: topic-components.html
breadcrumb2:
url2:
longdesc: Promote links to high-value content with a feature image.

---
<div class="main-section" >
    <div>
        <div class="c-wrapper c-wrapper-bg-transparent padding-none container-fluid" >
            <div class="row">
                <div class="twoCol39-left col-12 col-sm-2">
                    <div >
                        <div >
                            <div class="anchor-menu" >
                                <div class="sticky-container">
                                    <div>
                                        <h5 class="sticky-list-head">On this page</h5>
                                        <ul>
                                            <li><a href="" aria-label="Visual design">Visual design</a></li>
                                            <li><a href="" aria-label="Guidelines for use">Guidelines for use</a></li>
                                            <li><a href="" aria-label="Layouts">Layouts</a></li>
                                             <li><a href="" aria-label="Examples and assets">Examples and assets</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twoCol39-right col-sm-10">
                    <div >
                        <div>

<!-- OVERVIEW -->
<div class="anchor-section"  name="visual-design"><a href="" id="visual-design" aria-label="visual design"></a>
<div>
<div>
<div>
<div class="c-wrapper c-wrapper-bg-transparent container-fluid" >
<div class="row">
    <div class=" anchor-section-full-width c-padding-top col-sm-10 offset-sm-2 col-md-10 offset-md-2">
        <div class="body-copy">
            <div>
                <div class="body-copy-headline col-12">
                    <h2>Visual design</h2>
                </div>
                <hr />
            </div>
            <div class="body-copy-content">

                <h3>Default feature image pathway</h3>
                <div class="design-system-card component extra-wide">

                <div class="responsive-toggle-container">
                    <p class="toggle-name">Design view: <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                        <span class="switch-text-mobile"></span>
                        <span class="switch-text-desktop"></span>
                    </label></p>
                    
                    <div class="mobile-only"><h5>Mobile design</h5>
                        <p>Desktop designs can be viewed on screens wider than 650px.</p>
                    </div>
                    
                </div>
                    
                    
                    <div class="design-system-card-content">

                        <div class="example-wrapper white-back">
                            <div class="feature-image-pathway">
                                <div class="example feature-image-container">

                                    <div class="feature-text">
                                        <p class="label">Label</p>
                                        <h3>Feature image pathway</h3>
                                        <p class="description">The feature image pathway highlights a link to important content with an image.</p>
                                        <p class="icon-link"></p>
                                        
                                        
                                    </div>
                                    <div class="feature-image"><img class="responsive-img" src={{ "assets/feature-image.jpg" | relative_url }} alt="" title=""></div>

                                </div>
                            </div>

                        </div>

                        
                        <div class="component notes">
                            <div class="">
                                <h4>Notes</h4>
                                <p>This component has three main breakpoints and displays differently at mobile, tablet and desktop size.</p>
                            </div>
                            

                        </div>
                        
                        
                        
                        <div class="element-design component closed">
                            <div class="content-wrapper">
                                <p>CSS styles</p>
                            </div>
                            <button role="none" tabindex="-1" class="float-button">
                                <div tabindex="-1" class="float-button-content">
                                    <div class="BgaIcon iconAnimateWrapper "><svg width="16" height="16">
                                            <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                                        </svg></div><span class="sr-only">Button toggle current accordion</span>
                                </div>
                            </button>

                        </div>
                            

            <div class="element-code">
<h4>Desktop</h4>
<h5>Heading</h5>
<code>
<pre>
h3 {
    color: #FFFFFF;
    font-family: OpenSans-Semibold;
    font-size: 21px;
    line-height: 28px;
}
h3:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
</pre>
</code>

<h5>Label</h5>
<code>
<pre>
p.label {
    color: #FFFFFF;
    font-family: OpenSans;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
}
</pre>
</code>
                
<h5>Description</h5>

<code>
<pre>
p.description {
    color: #FFFFFF;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 28px;
}
</pre>
</code>
                                
<h5>Icon link</h5>

<code>
<pre>
.icon {    
    color: #FFFFFF;
    height: 16px;
    width: 16px;
}
.icon:hover {
    color: #FFFFFF;
    height: 32px;
    width: 32px;
}

</pre>
</code>
   
<h5>Container</h5>
                                
<code>
<pre>
.container {
    background: #4569A0;
    padding: 32px;
    border: none;
}
.container:hover {
    background: #254f90;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
}

</pre>
</code>

<h4>Mobile</h4>                    
<h5>Heading</h5>
<code>
<pre>
h3 {    
    color: #FFFFFF;
    font-family: OpenSans-Semibold;
    font-size: 21px;
    line-height: 30px;
}
</pre>
</code>


            </div>


                    </div>

                </div>

                <h3>Feature image pathway variation</h3>
                <div class="design-system-card component extra-wide">

                <div class="responsive-toggle-container">
                    <p class="toggle-name">Design view: <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                        <span class="switch-text-mobile"></span>
                        <span class="switch-text-desktop"></span>
                    </label></p>
                    
                    <div class="mobile-only"><h5>Mobile design</h5>
                        <p>Desktop designs can be viewed on screens wider than 650px.</p>
                    </div>
                    
                </div>
                    
                    
                    <div class="design-system-card-content">

                        <div class="example-wrapper white-back">
                            <div class="feature-image-pathway variation">
                                <div class="example feature-image-container">

                                    <div class="feature-text">
                                        <p class="label">Label</p>
                                        <h3>Feature image pathway</h3>
                                        <p class="description">The feature image pathway highlights a link to important content with an image.</p>
                                        <p class="icon-link"></p>
                                        
                                        
                                    </div>
                                    <div class="feature-image"><img class="responsive-img" src={{ "assets/feature-image.jpg" | relative_url }} alt="" title=""></div>

                                </div>
                            </div>

                        </div>

                        
                        <div class="component notes">
                            <div class="">
                                <h4>Notes</h4>
                                <p>This component has three main breakpoints and displays differently at mobile, tablet and desktop size.</p>
                            </div>
                            

                        </div>
                        
                        
                        
                        <div class="element-design component closed">
                            <div class="content-wrapper">
                                <p>CSS styles</p>
                            </div>
                            <button role="none" tabindex="-1" class="float-button">
                                <div tabindex="-1" class="float-button-content">
                                    <div class="BgaIcon iconAnimateWrapper "><svg width="16" height="16">
                                            <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                                        </svg></div><span class="sr-only">Button toggle current accordion</span>
                                </div>
                            </button>

                        </div>
                            

            <div class="element-code">
<h4>Desktop</h4>
<h5>Heading</h5>
<code>
<pre>
h3 {
    color: #333333;
    font-family: OpenSans-Semibold;
    font-size: 21px;
    line-height: 28px;
}
h3:hover {
    color: #254F90;
    text-decoration: underline;
}
</pre>
</code>

<h5>Label</h5>
<code>
<pre>
p.label {
    color: #333333;
    font-family: OpenSans;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
}
</pre>
</code>
                
<h5>Description</h5>

<code>
<pre>
p.description {
    color: #333333;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 28px;
}
</pre>
</code>
                                
<h5>Icon link</h5>

<code>
<pre>
.icon {    
    color: #254F90;
    height: 16px;
    width: 16px;
}
.icon:hover {
    color: #254F90;
    height: 32px;
    width: 32px;
}

</pre>
</code>
   
<h5>Container</h5>
                                
<code>
<pre>
.container {
    background: #EBEBEB;
    padding: 32px;
    border: none;
}
.container:hover {
    background: #D8D8D8;
    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,.2);
}

</pre>
</code>

<h4>Mobile</h4>                    
<h5>Heading</h5>
<code>
<pre>
h3 {    
    color: #333333;
    font-family: OpenSans-Semibold;
    font-size: 21px;
    line-height: 30px;
}
</pre>
</code>


            </div>


                    </div>

                </div>


                
            </div>


        </div>


    </div>

</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
                        
                        
<!-- USAGE -->                      
<div class="anchor-section"  name="guidelines-for-use"><a href="" id="guidelines-for-use" aria-label="guidelines for use"></a>
<div >
<div >
<div>
    <div class="c-wrapper c-wrapper-bg-transparent container-fluid" >
        <div class="row">
            <div class=" col-sm-12 col-md-12 col-lg-10">
                <div class="body-copy">
                    <div>
                      
                            <h2>Guidelines for use</h2>
                     
                        <hr />
                    </div>
                    <div class="body-copy-content">

                    <h3>Purpose: </h3>
                    <p>Feature image pathways are used to promote content (often on a temporary basis). They provide a high profile pathway (with an image) to another page on the website.   </p>
                    <h3>When to use this component: </h3>
                    <ul>
                        <li>Feature image pathways are most commonly used to promote particular news articles on the home page. </li>
                    </ul>
                    <h3>Content rules: </h3>
                    <ul>
                        <li>Display description. </li>
                        <li>Display content type label. </li>
                        <li>No alt text for pathway image.</li>
                    </ul>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>

                            
<!-- LAYOUTS -->                               
<div class="anchor-section"  name="layouts"><a href="" id="layouts" aria-label="layouts"></a>
<div >
<div >
<div>
    <div class="c-wrapper c-wrapper-bg-transparent container-fluid" >
        <div class="row">
            <div class=" col-sm-12 col-md-12 col-lg-10">
                <div class="body-copy">
                    <div>
                        
                            <h2>Layouts</h2>
                    
                        <hr />
                    </div>
                    
                    <div class="body-copy-content">
                        
                      <h3>Page layouts<h3>
                        <p>Feature image pathways can be used in <a href={{"foundations/page-layouts.html" | relative_url}}> full width pages</a>.</p> 

                        <h3>Component layout options</h3>
                        <h3>Full width layout</h3>
                        <div class="layouts">

                            <p><strong>Desktop, Tablet &amp; Mobile:</strong> One component on a page that stretches the full width of the content area.</p>

                            <img class="responsive-img desktop" src={{"assets/layout-desktop-full-width.svg" | relative_url}} alt="">

                            
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>



                               
<!-- EXAMPLES & ASSETS -->                               
<div class="anchor-section" name="examples-and-assets"><a href="" id="examples-and-assets"  aria-label="Layouts"></a>
<div >
<div>
<div >
    <div class="c-wrapper c-wrapper-bg-transparent container-fluid">
        <div class="row">
            <div class=" col-sm-12 col-md-12 col-lg-10">
                <div class="body-copy">
                    <div>
                        
                            <h2>Examples and assets</h2>
                   
                        <hr />
                    </div>
                    <div class="body-copy-content">
 
                         
            <div class="adobe-link vertical-list col-sm-12 col-md-12 col-lg-10">

                <div>
                    <a class="action-card-anchor" target="blank" href="https://xd.adobe.com/spec/5d0b533a-2924-4fc3-4417-b26a6309bf1e-2b3a/screen/5a0ad347-57cb-4a5b-acd0-4a82763acea4/Feature-image-pathway    ">
                            <div class="action-card-button">
                                <div class="action-card-content">
                                    <p class="vertical-list-fileName">View design and assets in Adobe XD.</p>
                                    <div class="action-card-info">
                                        <div class="BgaIcon  circleIcon-inner"><svg viewBox="0 0 16 16"><path d="M14 3.414L7.707 9.707 6.293 8.293 12.586 2H10V0h6v6h-2V3.414zM14 14V9h2v7H0V0h7v2H2v12h12z" fill="#4267b2"></path></svg></div>
                                        <div class="site-name"><span>ADOBE XD</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
            </div>
                        
            <div class="example-link vertical-list col-sm-12 col-md-12 col-lg-10">

                <div>
                    <a class="action-card-anchor" target="blank" href="https://www.business.gov.au/News">
                            <div class="action-card-button">
                                <div class="action-card-content">
                                    <p class="vertical-list-fileName">View the feature image pathway component on business.gov.au</p>
                                    <div class="action-card-info">
                                        <div class="BgaIcon  circleIcon-inner"><svg viewBox="0 0 16 16"><path d="M14 3.414L7.707 9.707 6.293 8.293 12.586 2H10V0h6v6h-2V3.414zM14 14V9h2v7H0V0h7v2H2v12h12z" fill="#4267b2"></path></svg></div>
                                        <div class="site-name"><span>BUSINESS.GOV.AU</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
            </div>




                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>

   
                    
                    
                        </div>
                    </div>

                </div>
            </div>
        </div>

