---
layout: content
title: Grant status indicator
breadcrumb1: Components
url1: topic-components.html
breadcrumb2:
url2:
longdesc: Display the current status of a grant.

---
<div class="main-section">
    <div>
        <div class="c-wrapper c-wrapper-bg-transparent padding-none container-fluid" >
            <div class="row">
                <div class="twoCol39-left col-12 col-sm-2">
                    <div>
                        <div>
                            <div class="anchor-menu" >
                                <div class="sticky-container">
                                    <div>
                                        <h5 class="sticky-list-head">On this page</h5>
                                        <ul>
                                            <li><a href="" aria-label="Visual design">Visual design</a></li>
                                            <li><a href="" aria-label="Guidelines for use">Guidelines for use</a></li>
                                            <li><a href="" aria-label="Layouts">Layouts</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twoCol39-right col-sm-10">
                    <div>
                        <div>

<!-- Visual design -->
<div class="anchor-section"  name="visual-design"><a href="" id="visual-design" aria-label="visual design"></a>
<div>
<div>
<div>
<div class="c-wrapper c-wrapper-bg-transparent container-fluid" >
<div class="row">
    <div class="c-padding-top c-padding-bottom col-sm-10 col-md-10">
        <div class="body-copy">
            <div>
                <div class="body-copy-headline col-12">
                    <h2>Visual design</h2>
                </div>
                <hr />
            </div>
            <div class="body-copy-content">
                

                <div class="design-system-card component">
                    <div class="design-system-card-content">

                        <div class="example-wrapper white-back">
                            <h3>Open grant</h3>
                            <div class="grant-status-indicator">
                                <div class="example grant-status-container">
                                    
                                    <div class="status-indicator">
                                        <div class="status-indicator-content">
                                            <div class="status-indicator-content-icon-wrapper">
                                                <div class="status-indicator-content-icon content-icon-open">
                                                    <div class="BgaIcon  "><svg viewBox="0 0 16 16">
                                                            <path fill="#c18100" d="M0 9.937l1.901-1.935 3.354 3.362 8.86-8.855 1.918 1.905L5.255 15.192z"></path>
                                                        </svg></div>
                                                </div>
                                                <div><span>Open</span></div>
                                            </div>
                                            <div>
                                                <div class="status-indicator-content-detail">
                                                    <div class="status-indicator-content-item">
                                                    <strong>Open date: </strong>
                                                        <div>
                                                            <p>1st January 2019</p>&nbsp;
                                                        </div></div>
                                                    <div class="status-indicator-content-item">
                                                    <strong>Close date: </strong>
                                                        <div>
                                                            <p>1st January 2022.</p>&nbsp;
                                                        </div></div>
                                                    <div class="status-indicator-content-item"><strong>Application detail: </strong>
                                                        <div>
                                                            <p>You can apply at any time.</p>&nbsp;
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                        

                        <div class="element-design component closed">
                            <div class="content-wrapper">
                                <p>CSS styles</p>
                            </div>
                            <button role="none" tabindex="-1" class="float-button">
                                <div tabindex="-1" class="float-button-content">
                                    <div class="BgaIcon iconAnimateWrapper "><svg width="16" height="16">
                                            <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                                        </svg></div><span class="sr-only">Button toggle current accordion</span>
                                </div>
                            </button>

                        </div>
                            
<div class="element-code">


<code>
<pre>

</pre>
</code>

</div>

                    </div>

                </div>
     
                
                <div class="design-system-card component">
                    <div class="design-system-card-content">

                        <div class="example-wrapper white-back">
                            <h3>Closed grant</h3>
                            <div class="grant-status-indicator">
                                <div class="example grant-status-container">
                                    
                                    <div class="status-indicator">
                                        <div class="status-indicator-content">
                                            <div class="status-indicator-content-icon-wrapper">
                                                <div class="status-indicator-content-icon content-icon-closed">
                                                    <div class="BgaIcon  "><svg viewBox="0 0 24 23">
                                                            <path fill="#E75755" fill-rule="evenodd" d="M12 0C5.37 0 0 5.146 0 11.5S5.37 23 12 23s12-5.146 12-11.5S18.63 0 12 0zm0 20.7c-5.304 0-9.6-4.117-9.6-9.2 0-2.127.762-4.077 2.022-5.635L17.88 18.762A9.832 9.832 0 0 1 12 20.7zm7.578-3.565L6.12 4.238A9.832 9.832 0 0 1 12 2.3c5.304 0 9.6 4.117 9.6 9.2 0 2.127-.762 4.077-2.022 5.635z"></path>
                                                        </svg></div>
                                                </div>
                                                <div><span>Closed</span></div>
                                            </div>
                                            <div>
                                                <div class="status-indicator-content-detail">
                                                    
                                                    <div class="status-indicator-content-item"><strong>Application detail: </strong>
                                                        <div>
                                                            <p>Applications closed June 2019 and will reopen in January 2022.</p>&nbsp;
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                        

                        <div class="element-design component closed">
                            <div class="content-wrapper">
                                <p>CSS styles</p>
                            </div>
                            <button role="none" tabindex="-1" class="float-button">
                                <div tabindex="-1" class="float-button-content">
                                    <div class="BgaIcon iconAnimateWrapper "><svg width="16" height="16">
                                            <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                                        </svg></div><span class="sr-only">Button toggle current accordion</span>
                                </div>
                            </button>

                        </div>
                            
<div class="element-code">


<code>
<pre>

</pre>
</code>

</div>

                    </div>

                </div>
         
                
            <div class="adobe-link vertical-list c-padding-top c-padding-bottom col-sm-10 col-md-10">

                <div>
                    <a class="action-card-anchor" target="blank" href="">
                            <div class="action-card-button">
                                <div class="action-card-content">
                                    <p class="vertical-list-fileName">View design and assets in Adobe XD.</p>
                                    <div class="action-card-info">
                                        <div class="BgaIcon  circleIcon-inner"><svg viewBox="0 0 16 16">
                                                <path d="M11.173 10.07H0v-3h11.171L7.02 2.923 8.929 1 16 8.57l-7.071 7.573-1.91-1.909z"></path>
                                            </svg></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
            </div>

            </div>

        </div>


    </div>

</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
                        
                        
<!-- USAGE -->                      
<div class="anchor-section"  name="guidelines-for-use"><a href="" id="guidelines-for-use" aria-label="guidelines for use"></a>
<div >
<div>
<div>
<div class="c-wrapper c-wrapper-bg-transparent container-fluid" >
    <div class="row">
        <div class="c-padding-top c-padding-bottom col-sm-10 col-md-10">
            <div class="body-copy">
                <div>
                    <div class="body-copy-headline col-12">
                        <h2>Guidelines for use</h2>
                    </div>
                    <hr />
                </div>
                <div class="body-copy-content">

                    <h3>Purpose</h3>
                    

                    <p>A grant can be open or closed. This component allows the user to quickly see what the current status of the grant is.</p>
                    
                   
                    <h3>When to use this component</h3>
                    

                    <p>Coming soon.</p>



                </div>


            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>
</div>

                            
<!-- LAYOUTS -->                               
<div class="anchor-section"  name="layouts"><a href="" id="layouts" aria-label="layouts"></a>
<div >
<div>
<div>
    <div class="c-wrapper c-wrapper-bg-transparent container-fluid" >
        <div class="row">
            <div class="c-padding-top c-padding-bottom col-sm-10 col-md-10">
                <div class="body-copy">
                    <div>
                        <div class="body-copy-headline col-12">
                            <h2>Layouts</h2>
                        </div>
                        <hr />
                    </div>
                    <div class="body-copy-content">


                    <p>Coming soon.</p>



                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>




                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>
