---
layout: content
title: How to prioritize component use
breadcrumb1: Components
url1: topic-components.html
breadcrumb2:
url2:
longdesc: Guidance on determining which component to use.

---
<div class="main-section margin-bottom">

        <div class="c-wrapper c-wrapper-bg-transparent  container-fluid" >
            <div class="row">
                <div class="c-padding-top anchor-section-full-width col-12 col-xl-9">
                    <div class="body-copy">
                        <div class="body-copy-content">
                            <h2>Priority tasks </h2>
                            <p>When used in a content page, the pathway component type is selected based on the priority of the link or task it provides. </p>
                            <p><strong>Priority 1 = High value hero of the page</strong> – link/task that is important and the user must do. E.g registration, applying </p>
                            <p><strong>Priority 2 = Medium value</strong> – link/task that is important and worth highlighting, but is optional to the user. E.g. reading more information about a topic </p>
                            <p><strong>Priority 3 = Low value optional</strong> – link/task that optional that the user is not required to do. E.g. Before applying/registering, consider talking to a legal professional or business adviser. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  

</div>